footer.footer
  .footer__wrapper
    .footer__arrow
    .footer__menu
      .container
        .footer-menu__wrapper
          ul.footer-menu__list
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Về chúng tôi
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Lịch sử
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Cơ sở hạ tầng
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Tuyển dụng
          ul.footer-menu__list
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Dịch vụ điều trị
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Câu hỏi thường gặp
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Hỏi đáp khách hàng
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Web map
          ul.footer-menu__list
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Ưu đãi
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Bảng giá
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Chi phí theo liệu trình
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Khách hàng đặc biệt
          ul.footer-menu__list
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Điều trị chăm sóc da
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Điều trị nám
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Điều trị sẹo
            li.footer-menu__li
              i.icon.ion-ios-arrow-right
              a(href="#")   Điều trị mụn
    .footer__company
      .container
        .footer-company__wrapper
          .footer-company__logo
            a(href="#") 
              img(src="img/images/logo-foo.png", alt="")
          .footer-company__text
            h4 PAMAS BEAUTY GROUP
            p Sứ mệnh của Pamas là cung cấp những dịch vụ làm đẹp hoàn hảo giúp mang lại sức khoẻ, vẻ đẹp và hạnh phúc mỗi ngày cho mọi khách hàng.
    .footer__location
      .container
        .footer-location__wrapper
          .footer-location__left
            strong Hà Nội
            span 57 Thái Hà, Q.Đống Đa  | 
              a(href="tel:0435379980") 04 – 3537 9980
            span 01 Hòa Mã, Q. Hai Bà Trưng   | 
              a(href="tel:0435379980") 04 – 3976 1423
            span 37 Thợ Nhuộm, Q. Hoàn Kiếm  |  
              a(href="tel:0435379980") 04 – 3936 1350
          .footer-location__center
            strong TP. Hồ Chí Minh
            span * 63 Sương Nguyệt Ánh, Q.1  |  
              a(href="tel:0435379980") 08 – 3925 2344
            span * 12L1, Vincom B,72 Lê Thánh Tôn, Q.1 |  
              a(href="tel:0435379980") 086.684.8344
          .footer-location__right
            strong Vũng Tàu
            span 188 Trương Công Định, TP. Vũng Tàu |  
              a(href="tel:0435379980") 064 – 355 4437
            strong Đà Nẵng
            span 188 Hoàng Diệu, Q.Hải Châu | 
              a(href="tel:0435379980") 0511 – 386 8900
    .copyright
      .container
        .copyright__wrapper
          .copyright__left
            span © Bản quyền thuộc về Pamas 2016 Điều khoản
          .copyright__right
            a(href="#").copyright__social
              span.icon.ion-ios-telephone
            a(href="#").copyright__social 
              span.icon.ion-social-instagram
            a(href="#").copyright__social 
              span.icon.ion-social-youtube
            a(href="#").copyright__social 
              span.icon.ion-social-twitter
            a(href="#").copyright__social 
                span.icon.ion-social-facebook
  .mobie-sticky
    .mobie-sticky__wrapper
        a(href="#").mobie-sticky-phone
          i.icon.ion-ios-telephone
        a(href="#").mobie-sticky-phone
          i.icon.ion-social-youtube