.header-sidebar
  .left-h-sidebar
    a.sidebar-toggle.js-mmenu(href='#my-mobile-menu')
      span.ion-navicon
  .right-h-sidebar
    .logo-mobie
      a(href='#', title='')
        img.img-responsive(src='img/logo/logo-mobie.png', alt='', a='')
    .cogLangguage
      a(href='#', title='')
        i.fa.fa-cog
      .head-lang
        a(href='#', title='')
          img(src='img/flags/lang-en.png')
          span English
        a(href='#', title='')
          img(src='img/flags/lang-vi.png')
          span Vietnamese
        a(href='#', title='')
          img(src='img/flags/lang-ja.png')
          span Japannes
        a(href='#', title='')
          img(src='img/flags/lang-kr.png')
          span Korea
    .button-call-search
      span.icon.ion-ios-search-strong
    .boxMobieSearch
      form.frMobie-search
        input#iptSearchMobie.ipt-search(type='search', placeholder='Từ khóa tìm kiếm')
        button.bt-search-mb(type='button') Tìm
#overlay
