header#header-main
  .container
    #mainMenu
      ul
        li
          a(href='#', title='') Trang chủ
        li
          a(href='#', title='') Sản phẩm
          ul
            li
              a(href='#', title='') Thiết kế website
            li
              a(href='#', title='') Thiết kế phần mềm
            li
              a(href='#', title='') Dịch vụ Data
            li
              a(href='#', title='') Thiết kế website
            li
              a(href='#', title='') Thiết kế phần mềm
            li
              a(href='#', title='') Dịch vụ Data
        li
          a(href='#', title='')  Dịch vụ
          ul
            li
              a(href='#', title='') Thiết kế website
            li
              a(href='#', title='') Thiết kế phần mềm
            li
              a(href='#', title='') Dịch vụ Data
        li
          a(href='#', title='') Tin tức
        li
          a(href='#', title='') Đối tác
        li
          a(href='#', title='') Liên hệ
    .account-link
      form.search-mini
        input.ipt(type='text')
        button.bt(type='button')
          span.ion-ios-search-strong
      ul
        li
          a.call-inline-pop(href='#login-res-pop', data-effect='mfp-zoom-in', title='') Đăng nhập
