header.header#header
  .header-wrapper
    .header-top#header-top
      .container
        .header-top__wrapper
          .header-top__left
            .header-top__phone
              a(href="tel:0934454556").header-top__phone-link 0934.45.45.56
                span  (TP.HCM - Vũng Tàu)
              a(href="tel:0934454556").header-top__phone-link 0934.45.45.56
                span  (Hà Nội -Vũng Tàu)
            .header-top__time
              i.ion-ios-alarm-outline
              span.header-top__time-span Thời gian làm việc:
                b  9:00 - 20:00
          .header-top__center
            a(href="#").header-top__logo
              img(src="img/images/logo.png", alt="")
          .header-top__right
            a(href="#").header-top__lang
              img(src="img/flags/lang-en.png", alt="")
              span English
              i.down
            .header-top__social
              a(href="#") 
                span.icon.ion-ios-telephone
              a(href="#") 
                span.icon.ion-social-instagram
              a(href="#") 
                span.icon.ion-social-youtube
              a(href="#") 
                span.icon.ion-social-twitter
              a(href="#") 
                span.icon.ion-social-facebook
            ul.header-top__list
              li.header-top__item
                a(href="#")  Tin tức
              li.header-top__item
                a(href="#")  Hoạt động
              li.header-top__item
                a(href="#")  Site map
    .header-main#header-main
      .header-sticky#header-sticky
        a(href="home.html") 
          img(src="img/images/logo-sticky.png", alt="")
      .container 
        .mainMenu
          ul.mainMenu__menu
            li.mainMenu__li
              a(href="index.html") Trang chủ
            li.mainMenu__li
              a(href="history.html") Triết lý điều trị
            li.mainMenu__li.no-relative
              a(href="advanced.html") Pamas Advanced Skincare
                i.icon.ion-ios-arrow-down
              ul.mainMenu__menu1
                li.mainMenu__li1
                  a Đặc Trị Da Công Nghệ Cao
                  ul.mainMenu__menu2
                    li.mainMenu__li2
                      a(href="#") Trị nám 
                      ul.mainMenu__menu3
                        li.mainMenu_li3
                          a(href="#")  Trị nám Ever White
                        li.mainMenu_li3
                          a(href="#")  Trị nám Ever White Plus
                        li.mainMenu_li3
                          a(href="#")  Trị nám SkinReborn
                    li.mainMenu__li2
                      a(href="#") Trị hóa
                      ul.mainMenu__menu3
                        li.mainMenu_li3
                          a(href="#")  Trẻ hóa đỉnh cao Ultherapy
                        li.mainMenu_li3
                          a(href="#")  Trẻ hóa da YouthSkin
                        li.mainMenu_li3
                          a(href="#")  Trẻ hóa SkinReborn
                    li.mainMenu__li2
                      a(href="#") Trị mụn 
                      ul.mainMenu__menu3
                        li.mainMenu_li3
                          a(href="#")  Trị mụn ALA
                        li.mainMenu_li3
                          a(href="#")  Trị mụn SkinReborn
                    li.mainMenu__li2
                      a(href="#") Trị Sẹo/Lỗ chân lông/Rạn da
                      ul.mainMenu__menu3
                        li.mainMenu_li3
                          a(href="#")  Trị sẹo BioScar
                        li.mainMenu_li3
                          a(href="#")  Trị sẹo NanoScar
                        li.mainMenu_li3
                          a(href="#")  Trị sẹo SkinReborn
                    li.mainMenu__li2
                      a(href="#") Trị giãn mao mạch 
                      ul.mainMenu__menu3
                        li.mainMenu_li3
                          a(href="#")  Trị giãn mao mạch Royal Light
                li.mainMenu__li1
                  a(href="#") Tái Tạo Da Chuyên Sâu
                  ul.mainMenu__menu2-right
                    li
                      a(href="#") Tập thể dục cho da SkinGym
                    li
                      a(href="#") OxyRescueh
                    li
                      a(href="#") Tế bào gốc GeneCell
                    li
                      a(href="#") PRP - Extra
                    li
                      a(href="#") Soft Laser
                    li
                      a(href="#") Aquasheer
                    li
                      a(href="#") Ánh Sáng Cromo
                    li
                      a(href="#") Silky 3D
                    li
                      a(href="#") Collagen lụa tơ tằm
                    li
                      a(href="#") Meso White
                    li
                      a(href="#") Sakura Laser 
            li.mainMenu__li
              a(href="Q&A_page.html") Thẩm Mỹ Công Nghệ Cao
                i.icon.ion-ios-arrow-down
              ul.sing-sub
                li.sing-sub__li
                  a(href="#") Tạo hình khuôn mặt
                  ul.sing-sub2
                    li.sing-sub__li
                      a(href="#") Thẩm mỹ mũi 
                    li.sing-sub__li
                      a(href="#") Thẩm mỹ mắt
                    li.sing-sub__li
                      a(href="#") Thẩm mỹ V-line 
                    li.sing-sub__li
                      a(href="#") Căng da mặt
                li.sing-sub__li
                  a(href="#") Làm trắng da 
                  ul.sing-sub2
                    li.sing-sub__li
                      a(href="#") Trắng da phi thuyền toàn thân
                    li.sing-sub__li
                      a(href="#") Truyền trắng body toàn thân
                    li.sing-sub__li
                      a(href="#") Truyền trắng mướt toàn thân 
                li.sing-sub__li
                  a(href="#") Trị rạn da cơ thể
                  ul.sing-sub2
                    li.sing-sub__li
                      a(href="#") Trị Rạn Da Skin Reborn 
                    li.sing-sub__li
                      a(href="#") SkinGym
                li.sing-sub__li
                  a(href="#") Triệt lông
                  ul.sing-sub2
                    li.sing-sub__li
                      a(href="#") Triệt lông vĩnh viễn Diode Laser Revolution
            li.mainMenu__li
              a(href="story.html") Chăm sóc Cơ Thể
                i.icon.ion-ios-arrow-down
              ul.sing-sub
                li.sing-sub__li
                  a(href="#") Jjim Jil Bang
                  ul.sing-sub2
                    li.sing-sub__li
                      a(href="#") Jiim Jil Bang Hàn Quốc
                li.sing-sub__li
                  a(href="#") Foot Massage 
                li.sing-sub__li
                  a(href="#") Body Massage
                  ul.sing-sub2
                    li.sing-sub__li
                      a(href="#") Full Body Massage
                    li.sing-sub__li
                      a(href="#") Massage thư giãn
                    li.sing-sub__li
                      a(href="#") Deep Tissue
                    li.sing-sub__li
                      a(href="#") Massage đá nóng
                    li.sing-sub__li
                      a(href="#") Massage Thái
                    li.sing-sub__li
                      a(href="#") Massage hồi phục toàn diện (đắp mặt nạ + massage)
                li.sing-sub__li
                  a(href="#") Xông hơi
                  ul.sing-sub2
                    li.sing-sub__li
                      a(href="#") Xông hơi nước nóng
            li.mainMenu__li
              a(href="story-detail.html") Câu chuyện KH
            li.mainMenu__li
              a(href="news-active.html") Tư Vấn
            li.mainMenu__li
              a(href="contact.html") Liên Hệ 
  .hotline-sticky#hotline-sticky
    .container
      .hotline-sticky__wrapper
        strong (*) Hiệu quả tùy thuộc vào cơ địa của từng người
        .footer-phone 
          a(href="tel:0439361350").footer-phone__link
            strong 04-3936 1350
            span Gọi Tư Vấn Ngay!
        a(href="#").support-box
          span Tư Vấn Trực Tuyến
