block variables
doctype html
html
  head
    title #{title}
    block head_start
      include ../_blocks/_meta
      include ../_blocks/_css_first
      include ../_blocks/_script_first
  body
    #wrapper
      //- include _header_mmenu
      include _sidebar
      #main
        block header
          include _header
        block content
        block footer
          include _footer
    include ../_components/_scrolltop_arrow
    block body_end
      include ../_blocks/_script_end
