.sidebar
  .sidebar__wrap
    .sidebar__toggle
      include ../_components/_sidebar_toggle
    .sidebar__inner
      include ../_components/_sidebar_logo
      include ../_components/_sidebar_lang
      include ../_components/_sidebar_search
  .sidebar__overlay
include ../_components/_sidebar_menu
