@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";


.itemCheckBox {
    position: relative;
    float: left;
    padding-right: 30px;

    input[type="checkbox"] {
        width: 0.1px;
        height: 0.1px;
    }

    span {
        font-weight: normal;
        padding-left: 5px;
        position: relative;
        top: -4px;
    }
}


@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: $checkbox-size/2;
    }
}

@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: $checkbox-size/2;
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: $checkbox-size/2;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: $checkbox-size * 1.2;
    }
}

@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: $checkbox-size * 1.2;
    }
}

@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: $checkbox-size * 1.2;
    }
}



.boxCheckbox {
    float:left;
    width:100%;
    padding:15px 0;
}

.check-box {
    height: $checkbox-size;
    width: $checkbox-size;
    background-color: transparent;
    border: $checkbox-size * .1 solid $checkbox-unchecked;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition:border-color ease $checkbox-duration/2;
    cursor: pointer;

    input[type=checkbox] {
        display: none;
    }

    &::before, &::after {
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: $checkbox-size * .2;
        background-color: $checkbox-color;
        display: inline-block;
        transform-origin:left top;
        border-radius:5px;
        content: ' ';
        transition:opacity ease .4;
    }

    &::before {
        top: $checkbox-size * .72;
        left: $checkbox-size * .41;
        transform:rotate(-135deg)
    }

    &::after {
        top: $checkbox-size * .37;
        left: $checkbox-size * .05;
        transform:rotate(-45deg)
    }
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
    border-color: $checkbox-color;

    &::after {
        height: $checkbox-size * .5;
        animation:dothabottomcheck $checkbox-duration/2 ease 0s forwards;
    }

    &::before {
        height: $checkbox-size * 1.2;
        animation:dothatopcheck $checkbox-duration/2 ease 0s forwards;
    }
}
