@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.navi-sticky {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
    z-index:100;
    display:none;
    a {
        width:50%;
        float:left;
        text-align:center;
        color:#fff;
        display:inline-block;
        font-size:15px;
        padding:6px;
        i {
            color:#fff;
            font-size:18px;
            margin-right:5px;
            position:relative;
            top:1px;
        }
    }
    .bt-sticky {
        background-color:#00bbaa;
    }
    .bt-phone {
        background-color:$color-primary;
    }
}

@media only screen and (max-width: 800px)  {
    .navi-sticky {
        display:block;
    }
    footer {
        padding-bottom:40px;
    }
}
