#popupThanks.popup__wrap.popup__thanks
  .popup__main
    .popup__header
      h2.popup__title Càm ơn bạn
    .popup__content
      i.icon.ion-android-checkmark-circle
      p Chúng tôi sẽ phản hồi bạn trong thời gian sớm nhất
    .popup__footer
