@mixin font($name, $src) {
  @font-face {
    font-family: $name;
    src: url("../fonts/"+$src+".ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@mixin button-config($padding-botton, $size-botton) {
  font-size: $size-botton;
  padding: $padding-botton;
}

@mixin size($value) {
  $width: nth($value, 1);
  $height: $width;

  @if length($value) > 1 {
    $height: nth($value, 2);
  }

  @if is-size($height) {
    height: $height;
  } @else {
    @warn "`#{$height}` is not a valid length for the `$height` parameter in the `size` mixin.";
  }

  @if is-size($width) {
    width: $width;
  } @else {
    @warn "`#{$width}` is not a valid length for the `$width` parameter in the `size` mixin.";
  }
}

@mixin mq($breakpoint) {
  $mq-xxs: "(min-width: 375px)";
  $mq-xs: "(min-width: 480px)";
  $mq-sm: "(min-width: 768px)";
  $mq-m: "(min-width: 992px)";
  $mq-ml: "(min-width: 1024px)";
  $mq-l: "(min-width: 1360px)";
  $mq-xl: "(min-width: 1440px)";
  $mq-xxl: "(min-width: 1600px)";
  $mq-max-xs: "(max-width: 479px)";
  $mq-max-s: "(max-width: 767px)";
  $mq-max-m: "(max-width: 1023px)";
  $mq-max-ml: "(max-width: 1359px)";
  $mq-max-l: "(max-width: 1439px)";
  $mq-max-xl: "(max-width: 1599px)";

  @if $breakpoint == xxs {
    @media #{$mq-xxs} {
      @content;
    }
  } @else if $breakpoint == xs {
    @media #{$mq-xs} {
      @content;
    }
  } @else if $breakpoint == sm {
    @media #{$mq-sm} {
      @content;
    }
  } @else if $breakpoint == m {
    @media #{$mq-m} {
      @content;
    }
  } @else if $breakpoint == ml {
    @media #{$mq-ml} {
      @content;
    }
  } @else if $breakpoint == l {
    @media #{$mq-l} {
      @content;
    }
  } @else if $breakpoint == xl {
    @media #{$mq-xl} {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media #{$mq-xxl} {
      @content;
    }
  } @else if $breakpoint == xs-max {
    @media #{$mq-max-xs} {
      @content;
    }
  } @else if $breakpoint == s-max {
    @media #{$mq-max-s} {
      @content;
    }
  } @else if $breakpoint == m-max {
    @media #{$mq-max-m} {
      @content;
    }
  } @else if $breakpoint == ml-max {
    @media #{$mq-max-ml} {
      @content;
    }
  } @else if $breakpoint == l-max {
    @media #{$mq-max-l} {
      @content;
    }
  } @else if $breakpoint == xl-max {
    @media #{$mq-max-xl} {
      @content;
    }
  }
}

@mixin transition($target: all, $time: 0.3s, $ease: ease) {
  transition: $target $time $ease;
}

@mixin aspect($height: 9, $width: 16, $positions: 'before') {
  &:#{$positions} {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
  }
}
