@import "mixins.scss";

$font-roboto: "Roboto";
$font-roboto-bold: "Roboto Bold";
$font-roboto-medium: "Roboto Medium";

$font-default: "Helvetica,Arial," DejaVu Sans "," Liberation Sans ",Freesans,sans-serif";

$font-face-primary: Tahoma,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
$font-size-primary: 14px;
$background-primary: #ffffff;
$text-color-primary: #424242;
$button-color-primary: #243168;
$border-color-primary: #e5e5e5;
$color-primary: #243168;
$color-white: #ffffff;
$color-yellow: #feda58;
$color-red: #a42e2e;
$color-gray: #929292;



$pagination-color: #383838;
$pagination-hover: #243168;


/*Nav */

$nav-mobie-color: #515151;
$nav-mobie-size: 16px;
$nav-mobie-color-hover:#222222;
$nav-mobie-back: #ffffff;
$nav-mobie-back-hover: #eeeeee;
$nav-mobie-border: #d9d9d9;

/* Button */
$button-hover-primary: #243168;
$owl-primary: #243168;
$button-border-gray: #e5e5e5;

/* list */
$list-color-primary: #383838;
$list-color-hover: #243168;
$list-border-color: #e5e5e5;
$list-button-border: #e5e5e5;
$list-button-color: #383838;
$list-button-color-hover: #243168;

/* Radio */
$radio-color: #243168;
$radio-border: #999999;
$radio-size-outer: 20px;
$radion-size-inner: 12px;

/* Checkbox */
$checkbox-color:#243168;
$checkbox-unchecked:#999999;
$checkbox-duration: .4s;
$checkbox-size:20px;
$checkbox-background:#667788;

/* Slider */
$slider-color: #243168;
$slider-paganition: #243168;
