@import "mixins.scss";

$font-roboto:'Roboto';
$font-roboto-bold:'Roboto Bold';
$font-roboto-medium:'Roboto Medium';
$font-roboto-light:'Roboto Light';

$font-roboto-con:'Roboto Condensed';
$font-roboto-con-bold:'Roboto Condensed Bold';
$font-roboto-con-italic:'Roboto Condensed Italic';
$font-roboto-con-light:'Roboto Condensed Light';

$font-opensans:'Open Sans';
$font-opensans-bold:'Open Sans Bold';
$font-opensans-light:'Open Sans Light';

$font-myriadpro:'myriad-pro';
$font-myriadpro-bold:'myriad-pro-bold';
$font-myriadpro-light:'myriad-pro-light';

$font-default:'Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif';

$font-face-primary:$font-default;
$font-size-primary: 15px;
$background-primary: #ffffff;
$text-color-primary: #383838;
$button-color-primary: #00aaac;
$border-color-primary:#e5e5e5;
$color-white: #ffffff;
$color-primary:#fb9c00;
$color-secondary:#fb9c00;
$color-hover:#fb9c00;
$color-info:#fb9c00;
$pagination-color:#383838;
$pagination-hover:#007ebb;

/* Buttons */
$bt-default: #dfdfdf;
$bt-size: 18px;
$bt-weight: normal;
$bt-padding: 6px 20px;
$bt-radius: 0px;
$bt-border-width: 3px;
$bt-border-style: solid;
$bt-transition: 0.2s ease-in;

$bt-background-default: $bt-default;
$bt-background-hover-default: darken($bt-default, 15%);

$bt-background-primary: $color-primary;
$bt-background-hover-primary: lighten($color-primary, 10%);

$bt-background-secondary: $color-secondary;
$bt-background-hover-secondary: darken($color-secondary, 10%);

/* Nav mobile */
$nav-mobie-color:#515151;
$nav-mobie-color-hover:#222222;
$nav-mobie-fontsize:15px;
$nav-mobie-back:#ffffff;
$nav-mobie-back-hover:#eeeeee;
$nav-mobie-border:#d9d9d9;


$button-hover-primary: $color-primary;

/* OwlCaresual */
$owl-primary:$color-primary;


$list-color-primary:#383838;
$list-color-hover:$color-primary;
$list-border-color:#e5e5e5;


$list-button-border:#e5e5e5;
$list-button-color:#383838;
$list-button-color-hover: $color-primary;


/* Checkbox Radio buton */
$control-color: $color-primary;
$control-border: #e6e6e6;
$control-back: #e6e6e6;
$control-text: #fff;
$control-color-disable: #7b7b7b;
$control-back-disable: #e6e6e6;
$control-size: 22px;
$control-radio-size: 8px;


$slider-color:#007ebb;
$slider-paganition:#007ebb;

