.bgr-content {
    float: left;
    width: 100%;
}
.content-about-history {
    padding-top: 100px;
    @include mq(xxs){
        padding-top: 50px;
    }

}
 .history_carousel-item {

    height: 230px;
    padding: 35px;
    text-align: center;
    background: url(../../img/background/bg-award.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    line-height: 160px;
    width: 100%;
    @include mq(xxs){
        height: 140px;
        padding: 22px;
    }
}