.bgr-content {
    padding: 50px 0 120px 0;
    background-image: url(../../img/background/banner-prl-1.jpg);
    transform: translate(0%, 11.5491%) translate3d(0px, 0px, 0px);
    position: relative;
}
.dot-arrow {
    background: url(../../img/background/arrow-foo.png) no-repeat top center;
    width: 31px;
    height: 62px;
    position: absolute;
    top: -6px;
    left: calc(50% - 15.5px);
}
.bgr-content__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mq(xxs){
        flex-direction: column;
    }
    @include mq(sm){
        flex-direction: row;
    }
}
.bgr-content__left {
    width: 42%;
    @include mq(xxs){
        width: 100%;
    }
    @include mq(sm){
        width: 45%;
    }
    @include mq(l){
        width: 42%;
    }
}
.bgr-content__link {
    display: inline-block;
    box-shadow: #999999 -7px 8px 1px;
    @include mq(xxs){
        width: 100%;
    }
}
.bgr-content__right {
    width: 50%;
    color: $color-white;
    text-align: center;
    @include mq(xxs){
        padding-top: 40px;
        width: 100%;
    }
    @include mq(sm){
        padding-top: 20px;
        width: 50%;
    }
}
.bgr-content__title {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}
.bgr-content__detail {

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 1.5em;
    }
}
.bgr-content__text {
    color: $color-white;
    text-align: justify;
    line-height: 1.7em;
}
.bgr-content__icon {
    margin: 10px 0px 15px 0;
    width: 100%;
    a {
        display: inline-block;
        width: 56px;
        height: 56px;
        border-radius: 28px;
        background-color: #243168;
        border: 2px solid #243168;
        overflow: hidden;
        margin: 15px;
        background-repeat: no-repeat;
        background-position: 6px 7px;
        transition: all 0.3s linear;
        @include mq(xxs){
            margin: 5px;
        }

    }
    a:nth-child(1){
        background-image: url(../../img/icons/ico-prl-1.png);
    }
    a:nth-child(2){
        background-image: url(../../img/icons/ico-prl-2.png);
    }
    a:nth-child(3){
        background-image: url(../../img/icons/ico-prl-3.png);
    }
    a:nth-child(4){
        background-image: url(../../img/icons/ico-prl-4.png);
    }
    a:nth-child(5){
        background-image: url(../../img/icons/ico-prl-5.png);
    }
    a:hover {
        background-color: #feda58;
        background-position: 6px -34px;
        border-color: #fff;
    }
}