.title-page {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #424242;
    margin: 30px 0 20px;
    font-weight: 700;

    @include mq(xxs){
        font-size: 20px;
    }
    @include mq(sm){
        font-size: 24px;
    }
}
.form-search {
    float: left;
    width: 100%;
    background-color: #ececec;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 25px;

    input {
        height: 42px;
        text-indent: 10px;
        background-color: #fff;
        border-radius: 4px 0 0 4px;
        width: calc(100% - 42px);
        float: left;
        border: 0;
        outline: #727272;
    }
    button {
        width: 42px;
        height: 42px;
        text-align: center;
        line-height: 42px;
        border-radius: 0 4px 4px 0;
        background-color: #fff;
        border: none;
        float: right;

        i {
            font-size: 22px;
        }
    }
}
.pageQA__wrapper {

    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 0px;
    
    @include mq(xxs){
        gap: 0px;
    }
    @include mq(l){
        gap: 25px;
    }
    .paging {
        margin-top: 0;
    }
}
.content-QA {
    width: 100%;
    order:0;
    margin-top: 30px;
    .title-page {
        margin-top: 0;
    }
    @include mq(xxs){
        width: 100%;
        order:0;
    }
    @include mq(xs){
        width: calc(100% - 275px);
        order: unset;

    }
    @include mq(sm){
        width: calc(100% - 330px);
    }
    @include mq(ml){
        width: calc(100% - 380px);
    }
}
.content-QA__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-QA__item {
    width: 100%;
    padding: 20px;
    border: 1px solid #e5e5e5;
    margin-bottom: 18px;
    border-radius: 4px;
    &:nth-child(even) {
        background-color: #ebeef9;
    }
}
.content-QA__item-link {
    font-weight: 700;
    color: #424242;
    margin-bottom: 10px;
    display: block;
    background: url(../../img/images/ico-faq.png) no-repeat left 4px;
    padding-left: 38px;
}
.content-QA__item-next {
    padding-left: 38px;

    a {
        border: 1px solid #e5e5e5;
        padding: 4px 14px;
        display: inline-block;
        border-radius: 14px;
        font-size: 12px;
        color: #727272;
        background-color: #fff;
        transition: 0.3s ease-in-out;

        i {
            margin-left: 5px;
        }

        &:hover {
            background-color: $color-yellow;
        }
    }
}
.content-QA__custom {
    width: 100%;
    display: block;
    margin-top: 10px;
    float: right;
    color: #727272;
    font-size: 12px;
    @include mq(xxs){
        width: 100%;
        display: block;
        margin-top: 10px;
    }
    @include mq(m){
        width: unset;
        display: unset;
        margin-top: 0px;
    }
}