.content-about-history {
    margin-bottom: -55px;
    float: left;
    width: 100%;
    @include mq(m) {
        margin-bottom: -20px;
    }
}
.content-history {
    margin-top: 40px;
    &:nth-child(3) {
        margin-bottom: -22px;
        @include mq(xxs) {
            margin-bottom: -22px;
        }
    }

    .list-img {
        display: flex;
        gap: 3px;

        a {
            display: block;
            width: calc(100% / 5 - 3px);
        }
    }
}
.content-history__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.content-history__detail {
    width: 100%;
    padding: 0;
    line-height: 1.5em;
    color: #727272;
    text-align: justify;
    @include mq(xxs) {
        width: 100%;
        padding: 0;
    }
    @include mq(m) {
        width: 58%;
        padding: 0 15px;
    }
}
.content-history__img {
    width: 100%;
    padding: 0;
    @include mq(xxs) {
        width: 100%;
        padding: 0;
    }
    @include mq(m) {
        width: 40%;
        padding: 0 15px;
    }
}
.content-history__title {
    font-size: 18px;
    color: #424242;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4em;
    @include mq(xxs) {
        font-size: 18px;
    }
    @include mq(xs) {
        font-size: 24px;
    }
}
.content-history__list {
    margin-bottom: 10px;
}
.content-history__item {
    display: block;
    width: 100%;
    padding: 6px 0 6px 20px;
    font-weight: 700;
    position: relative;

    &:after {
        content: "\f26b";
        font-family: Ionicons;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 4px;
    }
}
.content-history__text {
    color: #727272;
    line-height: 1.5em;
    text-align: justify;

}
.content-history__slogan {
    font-size: 14px;
    color: #424242;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.4em;
    position: relative;
    width: 100%;
    @include mq(xxs) {
        font-size: 14px;
    }
    @include mq(xxs) {
        font-size: 18px;
    }

    &::before {
        content: "";
        width: 40px;
        height: 3px;
        background-color: #243168;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-radius: 2px;
    }
}
.content-history__detail2 {
    width: 100%;
    padding: 0;
    @include mq(xxs) {
        width: 100%;
        padding: 0;
    }
    @include mq(m) {
        width: calc(50% - 5px) ;
        padding: 0 15px;
    }
}
.content-history__img2 {
    width: 100%;
    padding: 0;
    padding: 0 15px;
    
    @include mq(xxs) {
        width: 100%;
        padding: 0;
    }
    @include mq(m) {
        width: calc(50% - 5px) ;
        padding: 0 15px;
        position: relative;
    }
    @include mq(ml) {
        position: unset;
    }

    a {
        width: 100%;
        display: inline-block;
        text-align: center;
        @include mq(m) {
           position: absolute;
           bottom: 0;
           right: 0;
        }
        @include mq(ml) {
            position: unset;
         }
    }
}
.slogan-style2 {
    margin-top: 30px;

    &::before {
        top: -10px;
    }
}