.image-lazy {
  position: relative;
}

.image-lazy__img {
  display: block;
  max-width: 100%;
}

.image-lazy__img--demo {
  position: relative;
}

.image-lazy__placeholder {
  display: block;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.image-lazy--absolute {
  position: absolute;
}

.image-lazy--cover,
.image-lazy--contain {
  background-position: center;
  background-repeat: no-repeat;

  .image-lazy__placeholder,
  .image-lazy__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.image-lazy--cover {
  background-size: cover;

  .image-lazy__img {
    object-fit: cover;
  }
}

.image-lazy--contain {
  background-size: contain;

  .image-lazy__img {
    object-fit: contain;
  }
}

.image-lazy--placeholder {
  opacity: 1;
  background-color: gray;
}

.image-lazy--logo {
  & .image-lazy__img {
    position: relative;
    width: 162px;
    height: initial;
  }
}
