.paging {
    margin-top: 20px;
    width: calc(100% - 380px);
    float: left;
    text-align: left;
    padding: 0 0 20px 0;
    margin-bottom: 30px;
    width: 100%;
    order: 1;
    @include mq(xxs){
        width: 100%;
        order: 1;
    }
    @include mq(xs){
        order: unset;
    }
    @include mq(m){
        order: unset;
        width: calc(100% - 380px);
    }
    
    .active {
        background-color: $color-primary;
        a {
            color: $color-white;
        }
    }
}
.paging-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
    @include mq(xs){
        justify-content: start;
    }
    @include mq(m){
        justify-content: end;
    }
}
.pading-item {
    text-align: center;
    padding: 7px 12px;
    display: block;
    font-size: 16px;
    color: #424242;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    transition: 0.3s ease-in-out;

    a {
        color: $color-primary
    }

    i {
        color: $color-primary
    }

    &:hover {
        background-color: $color-primary;
        i,a {
            color: $color-white;
        }
    }

}
