@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.galleryPro {
  width: 100%;
  float: left;
}

#galleryThub {
  width: 80px;
  float: left;
  margin-right: 10px;

  .itemThub {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    display: block;

    &:hover,
    &.active {
      border: 1px solid #231f20;
      cursor: pointer;
    }
  }
}

.galleryShow {
  float: right;
  width: calc(100% - 90px);
  min-height: 420px;

  .itemShow {
    position: relative;
    top: 0;
    float: left;
    border: 1px solid #e5e5e5;
  }
}
.zoomLens {
  background-color: #0388cd !important;
  border-color: #0388cd !important;
}
