.timeline-his {
    float: left;
    width: 100%;
}
.timeline-his__title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #243168;
}
.timeline-his__slogan {
    font-size: 24px;
    color: #243168;
    font-weight: 400;
    text-align: center;
    display: block;
}
.timeline-his__line {
    border-top: 3px solid #455faa;
    margin-top: 30px;
    position: relative;
    float: left;
    width: 100%;
}
.timeline-his__item {
    width: 33.333%;
    padding: 30px;
    text-align: center;
    float: left;
    position: relative;

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 3px solid #fff;
        position: absolute;
        top: -10px;
        left: calc(50% - 8px);
        background-color: #feda58;
    }

    strong {
        font-size: 24px;
        color: #243168;
        font-weight: 600;
        text-align: center;
        display: block;
        transition: 0.3s ease-in-out;
    }

    span {
        display: block;
        font-size: 16px;
        color: #243168;
        margin: 10px 0;
        font-weight: 600;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        .timeline-his__tooltip {
            opacity: 1;
            visibility: visible;
            top: calc(100% - 20px);
            
            & > span {
                color: #727272;
            }
        }
         strong , span {
            color: $color-yellow;
        }
    }
}
.timeline-his__tooltip {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 57px rgba(0,0,0,.3);
    position: absolute;
    top: calc(100% - 50px);
    left: 0;
    padding: 20px;
    z-index: 999;
    opacity: 0;
    transition: .3s ease-in-out;
    visibility: hidden;

    &::before {
        content: "";
        position: absolute;
        left: calc(50% - 20px);
        top: -19px;
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }
    span {
        color: #727272;
        font-size: 16px;
        font-weight: 500;
    }
}

