@import "../helpers/_mixins.scss";

$cart-color: #353535;
$cart-border-color: #e2e2e2;
$cart-bg: #eaeaea;
$cart-color-hover: #ed161d;
$popup-bg: #ed161c;

.tableCart {
  width: 100%;
  float: left;
  margin-top: 0;
  font-size: 15px;
  table {
    margin: 10px 0;
    thead {
      background-color: $cart-bg;
      th {
        color: $cart-color;
        font-weight: normal;
        vertical-align: middle;
      }
    }

    tbody {
      strong {
        color: $cart-color;
        font-weight: normal;
      }

      a {
        color: $cart-color;

        &:hover {
          color: $cart-color-hover;
        }
      }

      tr {
        width: 100%;
        td {
          vertical-align: middle;
          border: 1px solid $cart-border-color;
        }
      }
      b {
        color: $cart-color-hover;
      }
      button {
        background: #999;
        border: none;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        transition: 0.3s ease;

        span {
          color: #fff;
          font-size: 14px;
        }

        &:hover,
        &:focus {
          background: $cart-color-hover;
        }
      }
    }

    .img-cart {
      width: 100%;
      text-align: center;
      img {
        max-width: 100px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .cart-total {
    text-align: center;
    background: #f2f2f2;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    color: $cart-color-hover;
  }
}
.controlCart {
  float: left;
  width: 100%;
}
.btOptionCart {
  width: 100%;
  float: left;
  .btn {
    span {
      padding-right: 5px;
      color: #fff;
      font-size: 16px;
    }
  }
}

.bt-sent-payment {
  float: left;
}

#popup-payment {
  width: 500px;
  min-height: 400px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  border: 4px solid $popup-bg;
  border-radius: 6px;

  button.fancybox-close-small {
    position: absolute;
    width: 34px;
    height: 34px;
    top: -17px;
    right: -17px;
    border-radius: 17px;
    background: #fff;
    opacity: 1;
    border: 4px solid $popup-bg;
    color: $popup-bg;
    line-height: 21px;
    transition: 0.3s ease;

    &:after {
      background: transparent;
      font-size: 26px;
      color: $popup-bg;
      transform: none;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 25px;
      text-align: center;
    }
    &:hover {
      background: $popup-bg;
      &:after {
        color: #fff;
      }
    }
  }

  .header-pop {
    height: 40px;
    background: $popup-bg;
    text-align: center;
    line-height: 100%;
    float: left;
    width: 100%;

    strong {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.3em;
      padding-top: 7px;
      display: block;
    }
  }

  form {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .content-pop {
      padding: 15px;
    }

    .form-group {
      position: relative;

      .form-control {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        height: 36px;
      }

      i.fa {
        position: absolute;
        top: 9px;
        font-size: 17px;
        color: #8a8a8a;
        left: 10px;
      }

      input,
      textarea {
        text-indent: 22px;
      }

      textarea.form-control {
        height: 150px;
      }
    }

    label.error {
      color: #ed161d;
      font-weight: normal;
      position: relative;
      top: 1px;
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  .content-pop {
    height: calc(100% - 90px);
    float: left;
    width: 100%;
  }

  .footer-pop {
    height: 50px;
    border-top: 1px solid $popup-bg;
    padding: 7px;
    text-align: center;
    float: left;
    width: 100%;
  }

  .pop-bt-submit {
    line-height: 34px;
    background: $popup-bg;
    color: #fff;
    font-size: 16px;
    border: 0;
    padding: 0 15px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.3s ease;

    &:hover,
    &:focus {
      background: $popup-bg;
    }
  }
}

@include mq(xs) {
  .tableCart {
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 15px;
    table {
      font-size: 13px;
    }
  }
  .btOptionCart {
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  #popup-payment {
    width: 100%;
  }
}
