@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";
$color: #878787;
$color-hover: #d56b20;
$border-color: #fff;

/*Detail-product*/

.detail-product {
    float: left;
    width: 100%;
    padding-top: 0;
    margin-right: 20px;
    padding-bottom: 30px;
    padding-right: 15px;
}

.listProductRight {
    width: 200px;
    float: right;
}
.property-pro h1 {
    font-size: 24px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
}


.detail-list {
    float: left;
   display:inline-block;
   margin-right:15px;

    li {
        display: inline-block;
        float: left;
        color: #8e8d8d;

        &:after {
            content: "|";
            padding-right: 10px;
            padding-left: 10px;
            color: #424242;
        }

        &:last-child {
            &:after {
                content: "";
                padding:0;
            }
        }

        a {
            display: inline-block;
            padding-left: 5px;
            color: #00aaac;
        }

        span {
            color: #000;
        }

        i {
            font-size: 16px;
            color: #ff1c77;
        }
    }
}

.price-pro {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;

    strong {
        font-size: 24px;
        color: $color-hover;
        padding-right: 10px;
        width: 100%;
        display: block;
        font-weight:bold;

        b {
            padding-left: 30px;
            font-size: 15px;
            font-weight:300;
            color: #6f6f6f;
            text-decoration: line-through;
            font-weight: normal;
        }

        small {
            font-size: 15px;
             font-weight:300;
            display: inline-block;
            padding-right: 10px;
            color: #000;
        }

        i {
            font-size: 15px;
            color: #1166f3;
            font-weight: normal;
        }
    }
}

.property-pro {

    .button-buy {
        width: 100%;
        float: left;
        margin-bottom: 15px;

        a {
            float: left;
            text-align: left;

            &.bt-buynow {
                width: 50%;
                text-align: center;
                padding: 15px 15px;
                margin-top: 10px;
                float: left;
                display: block;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                background-color: $color-hover;
                border-radius:4px;

                span {
                    font-size: 15px;
                    font-weight:300;
                    display: block;
                }

                b {
                    font-size: 18px;
                    font-weight:bold;
                    text-transform: uppercase;
                    line-height: 1em;
                }

                &:hover {
                    background: $color-hover;
                    color: #fff;
                }
            }

            &.bt-addnow {
                width: calc(50% - 5px);
                padding: 10px 20px 10px 74px;
                border: 2px dashed $color-hover;
                margin-top: 10px;
                float: left;
                display: block;
                color: $color-hover;
                font-size: 18px;
                margin-right: 4px;
                background: url(../images/ico-giuhang.png) no-repeat 15px center;
               border-radius:4px;

                span {
                    font-size: 18px;
                     font-weight:300;
                }

                b {
                    font-size: 24px;
                    font-weight:bold;
                    line-height: 1em;
                }

                &:hover {
                    background: url(../images/ico-giuhang-h.png) no-repeat 15px center $color-hover;
                    color: #fff;

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

span.coundbuy {
    font-weight:300;
    display: block;
    float: left;
    width: 100%;

    b {
        font-weight:bold;
        color: $color-hover;
        font-size: 15px;
    }
}

.linkcamket {
    float: left;
    width: 100%;
    border-top: 2px solid $color-hover;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
        width: calc(33.333%);
        display: block;
        border-right: 1px solid $color-hover;
        float: left;
        background-color: #ffebdd;
        height: 65px;
        padding: 10px 10px 10px 50px;
        color: $color-hover;
        background-position: 10px center;
        background-repeat: no-repeat;

        &:last-child {
            border-right: 1px solid #ffebdd;
        }

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                background-image: url(../images/link-nhanh-#{$i}.png);
            }
        }
    }
}

.text-detail-pro {

    ul {
        float: left;
        padding: 10px 0;

        li {
            display: block;
            width: 100%;
            float: left;
            padding: 3px 10px;
            position: relative;

            &:before {
                content: "";
                width: 4px;
                height: 4px;
                background-color: #000;
                position: absolute;
                left: 0;
                top: 10px;
                border-radius: 2px;
            }

            strong {
                width: 122px;
                float: left;
                display: block;
            }

            span {
                width: calc(100% - 110px);
                float: left;
            }
        }
    }

    .body-text {
        max-height: 250px;
        min-height: 100px;
        float: left;
        width: 100%;
        overflow: hidden;
        transition:0.5s ease-in-out;
    }

    &.open {
        .body-text {
            max-height: none;
           transition:0.5s ease-in-out;
        }
    }

    .bt-show-hide {
        text-decoration: underline;
        clear: both;
        float: left;
        display: inline-block;
        padding-top: 10px;

        &:hover {
            color: #ed1f24;
            cursor: pointer;
        }

        i {
            padding-left: 5px;
            font-size: 16px;
            color: #ed1f24;
        }
    }
}

.item-color-pro {
    float: left;
    width: 100%;
    margin-bottom: 15px;

    strong {
        float: left;
        display: block;
        width: 100%;
        font-weight: normal;

        span {
            color: rgba(0,0,0,0.6);
        }
    }

    ul {
        float: left;
        width: 100%;

        li {
            display: inline-block;
            float: left;
            margin-right: 10px;
            margin-top: 5px;
            padding: 1px;
            border: 1px solid #fff;

            a {
                width: 13px;
                height: 13px;
                display: block;
                overflow: hidden;
            }

            &:hover, &.active {
                border: 1px solid rgba(0,0,0,0.6);
            }
        }
    }
}

.item-size-pro {
    float: left;
    width: 100%;
    margin-bottom: 10px;

    strong {
        float: left;
        display: block;
        width: 100%;
        font-weight: normal;

        span {
            color: rgba(0,0,0,0.6);
        }
    }

    ul {
        float: left;
        width: 100%;

        li {
            display: inline-block;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 1px;
            border: 1px solid #fff;

            a {
                width: 30px;
                height: 30px;
                display: block;
                overflow: hidden;
                line-height: 30px;
                text-align: center;
                color: #000;
            }

            &:hover, &.active {
                border: 1px solid rgba(0,0,0,0.6);
            }
        }
    }
}

.gift-pro {
    width: 100%;
    float: left;
    border-top: 1px solid $border-color;
    padding-top: 10px;

    strong {
        color: $color-hover;
        display: block;
        width: 100%;

        i {
            font-size: 22px;
            padding-right: 8px;
            padding-bottom: 10px;
        }
    }
}

.social-pro {
    width: 100%;
    float: left;
    margin-top: 10px;

    span {
        display: inline-block;
        padding-right: 4px;
    }

    a {
        width: 24px;
        height: 24px;
        border-radius:12px;
        background-color: #414141;
        display: inline-block;
        margin-right: 4px;
        text-align: center;
        line-height: 26px;
        color: #fff;

        &:hover, &:focus {
            color: #fff;
            background-color: #ed1f24;
        }

        i {
            padding-right: 0;
            font-size: 16px;
        }
    }
}

.tabs-property-pro {
    float: left;
    width: 100%;
    margin-top: 30px;

    .tabs-abouts {
        float: left;
        width: 100%;
    }

    .tab-nav {
        border-bottom: 1px solid $border-color;
        float: left;
        width: 100%;
        background-color: #efefef;

        a {
            display: block;
            padding: 13px 20px 10px 20px;
            font-weight: normal;
            color: $color;
            margin-bottom: 0;
            font-size: 15px;
            float: left;
            text-align: center;
            background-color: #efefef;
            border-bottom: 3px solid #efefef;
            margin-right: 0;
            border-right: 1px solid #cbcbcb;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: #000;
                border-bottom: 3px solid $color-hover;
            }

            i {
                padding-right: 10px;
                font-size: 18px;
            }

            b {
                font-weight: normal;
            }
        }

        .tab-current {
            color: #000;
            border-bottom: 3px solid $color-hover;

            &:hover {
                @extend .tab-current;
            }
        }
    }

    .tab-content {
        margin-top: 0;
        padding: 20px 0;
        float: left;
        width: 100%;

        .tab-content-item {
            margin-bottom: 0;
        }
    }
}


@media only screen and (max-width: 480px) and (max-height: 768px) {
    .property-pro h1 {
        font-size: 20px;
    }

    .tabs-property-pro .tab-nav a {
        font-size: 14px;
    }
}


.boxTags {
    .bt-buynow {
        width: 50%;
        text-align: center;
        padding: 15px 15px;
        margin-top: 10px;
        float: left;
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        background-color: $color-hover;
        border-radius:4px;

        span {
            font-size: 15px;
            font-weight:300;
            display: block;
        }

        b {
            font-size: 18px;
           font-weight:bold;
            text-transform: uppercase;
            line-height: 1em;
        }

        &:hover {
            background: $color-hover;
            color: #fff;
        }
    }

    .bt-addnow {
        width: calc(50% - 5px);
        padding: 10px 20px 10px 74px;
        border: 2px dashed $color-hover;
        margin-top: 10px;
        float: left;
        display: block;
        color: $color-hover;
        font-size: 18px;
        margin-right: 4px;
        background: url(../images/ico-giuhang.png) no-repeat 15px center;
        border-radius:4px;

        span {
            font-size: 18px;
            font-weight:300;
        }

        b {
            font-size: 24px;
            font-weight:bold;
            line-height: 1em;
        }

        &:hover {
            background: url(../images/ico-giuhang-h.png) no-repeat 15px center $color-hover;
            color: #fff;

            i {
                color: #fff;
            }
        }
    }
}

.galleryPro {
    width: 100%;
    float: left;
}

#galleryThub {
    width: 80px;
    float: left;
    margin-right: 10px;

    .itemThub {
        width: 100%;
        height: 80px;
        margin-bottom: 10px;
        border: 1px solid #e5e5e5;
        display:block;

        &:hover, &.active {
            border: 1px solid #231f20;
            cursor: pointer;
        }
    }
}

.galleryShow {
    float: right;
    width: calc(100% - 90px);
    min-height: 420px;


    .itemShow {
        position: relative;
        top: 0;
        float: left;
        border: 1px solid #e5e5e5;
    }
}
.zoomLens {
    background-color:#0388cd !important;
    border-color: #0388cd!important
}


.boxClsDetailPro {
    max-height:800px;
    overflow:hidden;
    transition:height 0.4s ease-in;
    margin-bottom:40px;
    &.active {
        transition:height 0.4s ease-in;
        max-height:none;
    }
}

.lineMoreDetailPro {
    float: left;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    margin-top: 10px;
    text-align: center;

    .moreDetailPro {
        padding: 9px 30px 9px 12px;
        background-color: #e1e1e1;
        color: #000;
        font-size: 16px;
        display: inline-block;
       border-radius:4px;
        position: relative;
        top: -21px;
        cursor: pointer;

        &:before {
            content: "\f103 ";
            font-family: FontAwesome;
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 22px;
        }

        &:after {
            content: "Hiển thị thêm thông tin";
        }

        &:hover {
            color: #fff;
            background-color: $color-hover;
        }

        &.active {
            &:after {
                content: "Thu gọn";
            }

            &:before {
                content: "\f102 ";
                font-family: FontAwesome;
                position: absolute;
                right: 10px;
                top: 5px;
                font-size: 22px;
            }
        }
    }
}
