@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";
.footer__wrapper {
    background: url(../../img/background/line-foo-top.png) repeat-x top center #243168;
    position: relative;
    border-top: 1px solid #fff;
    z-index: 0;
}
.footer__wrapper::before {
    content: "";
    width: 192px;
    height: 262px;
    position: absolute;
    top: calc(60% - 131px);
    background: url(../../img/background/icon-foo-1.png) no-repeat left center;
    z-index: -1;
}
.footer__wrapper::after {
    content: "";
    width: 192px;
    height: 262px;
    position: absolute;
    top: 20px;
    background: url(../../img/background/icon-foo-2.png) no-repeat right center;
    right: 0;
    z-index: -1;
    @include mq(xxs){
       top: 20px;
    }
}
.footer__arrow {
    background: url(../../img/background/arrow-foo.png) no-repeat top center;
    width: 31px;
    height: 62px;
    position: absolute;
    top: -6px;
    left: calc(50% - 15.5px);
}
.footer__menu {
    padding: 30px 0;
    display: none;
    @include mq(xxs){
        display: none;
    }
    @include mq(sm){
        display: block;
    }
    @include mq(sm){
        padding: 40px 0;
    }
}
.footer-menu__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-menu__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 50%;
    padding: 15px 0;
    color: #DBDBDB;
    @include mq(sm){
        width: 50%;
        padding: 15px 0;
    }
    @include mq(m){
        width: unset;
        padding: 0 15px;
    }
}
.footer-menu__li {
    display: flex;
    gap: 5px;

    a {
        transition: color 0.3s ease;
        color: #DBDBDB;
    }
    a:hover {
        color: $color-yellow;
    }
}
.footer__company {
    padding: 30px 0;
    border-top: 1px solid #DBDBDB;
}
.footer-company__wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 30px;
    @include mq(xxs){
        padding-top: 30px;

    }
    @include mq(sm){
        padding-top: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.footer-company__logo {
    width: 95px;
    width: 100%;
    text-align: center;
    @include mq(xxs){
        width: 100%;
    }
    @include mq(sm){
        width: 95px;
    }
}
.footer-company__text {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    
    h4 {
        font-weight: 700;
    }
    @include mq(xxs){
        text-align: center;
    }

    @include mq(sm){
        text-align: justify;
        width: calc(100% - 110px);

        h4 {
            font-weight: 700;
        }
    }
    h4 {
        font-size: 18px;
        color:$color-white;
    }

    p {
        color: #DBDBDB;
    }
}
.footer__location {
    padding-bottom: 30px;
}
.footer-location__wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    @include mq(sm){
        justify-content: end;
        text-align: justify;
    }
    @include mq(m){
        justify-content: space-between;
    }
    strong {
        color: #feda58;
        font-size: 16px;
        display: block;
        font-weight: 400;
        margin: 5px 0px 10px 5px;
    };
    
    span {
        display: block;
        color: #dbdbdb;
        margin-bottom: 7px;

        a{
            color: $color-white;
            transition: 0.3s ease;
        }

        a:hover {
            color: $color-yellow;
        }
    }
    
}
.footer-location__left {
    width: 100%;
    @include mq(xxs){
        width: 100%;
    }
    @include mq(sm){
        width: calc(100% / 2);
    }
    @include mq(m){
        width: calc(100% / 3);
        padding: 0 15px;
    }
}
.footer-location__center {
    width: 100%;
    @include mq(xxs){
        width: 100%;
    }
    @include mq(sm){
        width: calc(100% / 2);
    }
    @include mq(m){
        width: calc(100% / 3);
        padding: 0 15px;
    }
}
.footer-location__right {
    width: 100%;
    @include mq(xxs){
        width: 100%;
    }
    @include mq(sm){
        width: calc(100% / 2);
        margin-top: 10px;
    }
    @include mq(m){
        width: calc(100% / 3);
        padding: 0 15px;
        margin-top: 0px;
    }
}
.copyright {
    padding: 10px 0 45px 0;
    border-top: 1px solid #b9b9b9;
    @include mq(xxs){

        border-top: 1px solid #b9b9b9;
    }
}
.copyright__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    @include mq(xxs){
        flex-direction: column-reverse;
    }
    @include mq(sm){
        flex-wrap: nowrap;
        flex-direction: row;
    }
}
.copyright__left {
    width: 100%;
    text-align: center;
    @include mq(xxs){
        width: 100%;
        text-align: center;
    }
    @include mq(sm){
        width: calc(100% / 2.5);
        text-align: start;
    }

    span {
        font-size: 13px;
        color: #b9b9b9;
        display: block;
    }
}
.copyright__right {
    width: 100%;
    display: flex;
    gap: 22px;
    justify-content:center;
    @include mq(xxs){
        width: 100%;
        justify-content:center;

    }
    @include mq(sm){
        width: calc(100% / 2.5);
        justify-content: end;
    }
    a{
        display: inline-block;
        color: #aaabaf;
        margin-bottom: 10px;
        transition: 0.3s ease;

        span {
            font-size: 24px;
        }
    }
    a:hover {
        color: $color-yellow;
        transform: scale(1.1);
    }
}