@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";


.header-top__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.header-top__left {
  width: calc(100% / 3);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
.header-top__center {
  display: flex;
  width: calc(100% / 3);
  padding: 30px 0;
  justify-content: center;
}
.header-top__right {
  width: calc(100% / 3);
  padding: 30px 0;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  gap: 10px;
}
.header-top__phone {
  padding-left: 19px;
  background: url(../../img/icons/phone-border.png) no-repeat left center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header-top__phone-link {
  color: $color-primary;
  position: relative;


  span {
    color: $color-gray;
  }
}
.header-top__phone-link:hover::before {
  position: absolute;
  content: "Gọi ngay!";
  padding: 2px 15px;
  background-color: #feda58;
  border-radius: 12px;
  color: #243168;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  left: -2px;
  top: 0;
}
.header-top__time {
  border: 1px solid $button-border-gray;
  padding: 5px 11px;
  display: inline-block;
}
.header-top__time-span {
  color: $color-gray;

  b {
    color: $color-primary;
    font-weight: 500;
  }
}
.header-top__center {
  text-align: center;
  background: url(../../img/background/bg-header.png) no-repeat center center;
  padding: 25px 0;
}
.header-top__lang {
  width: 130px;
  border: 1px solid $button-border-gray;
  padding: 4px 7px;
  color: $color-gray;
  display: flex;
  gap: 5px;
  transition: all 0.4s ease;
}
.header-top__lang:hover {
  background-color: #eee;
}
.header-top__social {
  display: flex;
  gap: 22px;

  a {
    color: #c7c7c7;
    font-size: 24px;
    transition: all 0.4s ease;
  }

  a:hover {
    color: $color-primary;
  }
}
.header-top__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;

  li::before {
    position: absolute;
    left: -11px;
    content: "|";
    color: #929292;
  }

  li:nth-child(1)::before{
    content: '';
  }
}
.header-top__item {
  position: relative;

  a {
    color: $color-gray;
    transition: all 0.4s ease;
  }
  
  a:hover {
    color: $color-primary;

  }
}