@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";

body {
  font-family: $font-face-primary;
  font-size: $font-size-primary;
  color: $text-color-primary;
  background-color: $background-primary;
}

.wrapper {
  padding-top: 50px;

  @include mq(m) {
    padding-top: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

a {
  @include transition;

  &:hover {
    outline: none;
    text-decoration: none;
    color: $color-primary;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }
}

button {
  @include transition;
}

ul {
  list-style-type: none;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;

  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/*Scroll Top*/
#scrollTop {
  position: fixed;
  right: 20px;
  bottom: 100px;
  background: $color-primary;
  color: #fff;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  opacity: 0.8;
  display: none;
  border-radius: 3px;
  z-index: 998;

  span {
    display: block;
    font-size: 2em;
    text-align: center;
  }

  &:hover {
    opacity: 1;
  }
}

.img-reponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-100 {
  width: 100%;
  display: block;
  height: auto;
}
.pd-100 {
  padding: 100px 0;
}
.mg-20px {
  margin-top: 20px;
}