@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";

.sidebar {

}

.sidebar__wrap {
  height: 50px;
  position: relative;
  border-bottom: 1px solid $border-color-primary;
  display: flex;
  background-color: white;
}

.sidebar__toggle {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.sidebar__inner {
  display: flex;
  flex: 1 1 auto;
}

.sidebar__overlay {

}
