@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";

/*Open Siderbar-container*/
.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100000;
  transition: visibility 0 linear 0.5s, opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateZ(0);

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

/* -- Sidebar style ------------------------------- */
.sidebar {
  vertical-align: top;
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  transition: all 300ms ease;
  width: 0;
  transform: translate3d(-270px, 0, 0);
  background: #fff;
  border-right: 1px solid #d9d9d9;

  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f7f7f7;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bfbfbf;
  }

  .sidebar-toggle {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background-image: none;
    border: none;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    z-index: 999;

    i {
      color: #fff;
    }

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  &.open {
    min-width: 270px;
    width: 270px;
    transform: translate3d(0, 0, 0);
    transition: all 300ms ease;
  }
}

.sidebar-fixed-left,
.sidebar-stacked {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10000991;
}

.sidebar-stacked {
  left: 0;
}

.sidebar-fixed-left {
  left: 0;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.35);
}

.sidebar-close {
  position: absolute;
  right: 0;
  background: red;
  top: 0;
  z-index: 9999;
  border: none;
  width: 40px;
  height: 40px;

  span {
    color: #fff;
  }
}

.sidebar-open .sidebar-close {
  display: block;
}

.sidebar-open .right-h-sidebar {
  height: 55px;
}

#sidebar-toggle {
}

/*Open Nav mobie*/
.nav-mobie,
.nav-mobie ul,
.nav-mobie ul li,
.nav-mobie ul li a {
  display: block;
}

.nav-mobie > ul {
  float: left;
  width: 100%;
}

.nav-mobie > ul > li {
  position: relative;
  border-bottom: 1px solid $nav-mobie-border;
}

.nav-mobie ul ul {
  display: none;
}

.nav-mobie > ul > li > a {
  color: $nav-mobie-color;
  font-size: $nav-mobie-fontsize;
  padding: 10px 0 10px 15px;
}

.nav-mobie > ul > li > a:hover,
.nav-mobie > ul > li.active > a,
.nav-mobie > ul > li.open > a {
  color: $nav-mobie-color-hover;
  background: $nav-mobie-back-hover;
}

.nav-mobie > ul > li > a > span > i,
.nav-mobie ul ul li > a > span > i {
  font-size: 18px;
  padding-right: 10px;
}

.nav-mobie ul ul li a {
  background: $nav-mobie-back;
  color: $nav-mobie-color;
  padding: 12px 0 12px 30px;
  letter-spacing: inherit;
  font-size: $nav-mobie-fontsize;
}

.nav-mobie ul ul li:hover > a,
.nav-mobie ul ul li.open > a,
.nav-mobie ul ul li.active > a {
  background: $nav-mobie-back-hover;
  color: $nav-mobie-color-hover;
}

.nav-mobie ul ul li a:hover {
  background: $nav-mobie-back-hover;
}

.nav-mobie ul ul li {
  border-top: 1px solid $nav-mobie-border;
}

.nav-mobie ul ul li ul li {
  border-top: 1px solid $nav-mobie-border;
}

.nav-mobie ul ul li ul li > a {
  background: $nav-mobie-back;
  font-size: $nav-mobie-fontsize;
  padding-left: 45px;
}

.nav-mobie ul ul li ul li > a:hover {
  background: $nav-mobie-back-hover;
  color: $nav-mobie-color-hover;
}

.nav-mobie ul ul li.has-sub > a::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: 20px;
  z-index: 10;
  top: 14.5px;
}

.nav-mobie ul ul li.active > a::after,
.nav-mobie ul ul li.open > a::after,
.nav-mobie ul ul li > a:hover::after {
  border-color: #fff;
}

.nav-mobie > ul > li.last > a {
  border-bottom: 0;
}

.nav-mobie .has-sub > .a-open-down:before {
  content: "";
  border: 2px solid transparent;
  display: inline-block;
  width: 11px;
  height: 11px;
  transform: rotate(135deg);
  float: right;
  margin-right: 13px;
  margin-top: 5px;
  border-color: rgba(0, 0, 0, 0.75);
  border-right: none;
  border-bottom: none;
  transition: all 0.2s ease-in;
}

.nav-mobie > ul > li.open > .a-open-down:before {
  transform: rotate(225deg);
  margin-top: 4px;
}

.nav-mobie .has-sub .has-sub > .a-open-down:before {
  content: "";
  border: 2px solid transparent;
  display: inline-block;
  margin-right: 13px;
  margin-top: 6px;
  float: right;
  border-color: rgba(0, 0, 0, 1);
  width: 12px;
  height: 12px;
  border-right: none;
  border-bottom: none;
  transition: all 0.2s ease-in;
}

.nav-mobie .has-sub ul li.open > .a-open-down:before {
  transform: rotate(225deg);
  margin-top: 2px;
}

.nav-mobie .has-sub .has-sub li:hover a:before {
  border-color: #fff;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  margin-top: 6px;
  transform: rotate(225deg);
}

.nav-mobie .has-sub ul .has-sub > .a-open-down {
  display: none;
}

.nav-mobie li.open ul .has-sub > .a-open-down {
  width: 35px;
  position: absolute;
  right: 0;
  height: 45px;
  display: block;
}

.nav-mobie > ul > .has-sub > ul > .has-sub:last-child > .a-open-down {
  height: 44px;
}

.nav-mobie li.open ul li.open > .a-open-down {
  background: $nav-mobie-back-hover;
}

.nav-mobie > ul > .has-sub > .a-open-down {
  width: 35px;
  position: absolute;
  right: 0;
  height: 42px;
}

/*End Nav mobie*/
