
mixin crumbar(name,name2)
        .container
            .crumbar__wrapper
                ul.crumbar__list
                    li.home
                        a(href="index.html") 
                            i.icon.ion-ios-home
                    li.active
                        a(href="#") 
                            i.icon.ion-ios-arrow-right
                            span.crumbar__name= name

                            


