.about-home
    .container
        .about-home__title
            h2 PAMAS Beauty Clinic
            span Sự lựa chọn thông minh của phái đẹp
        .about-home__list
            .about-home__item
                .about-home__img
                    img(src="img/icons/ico-about-1.png", alt="")
                .about-home__detail
                    h3 Lịch sử
                    span Thành lập năm 2001 lần đầu tiên người tiêu dùng Việt Nam được tiếp cận mô hình làm đẹp tiên tiến, kết hợp giữa thẩm mỹ và y tế.
                    a(href="#") Xem chi tiết
                        i.icon.ion-ios-arrow-right
            .about-home__item
                .about-home__img
                    img(src="img/icons/ico-about-2.png", alt="")
                .about-home__detail
                    h3 Ưu Đãi
                    span Đăng ký để nhận ngay ưu đã đặc biệt trong tháng.
                    a(href="#") Xem chi tiết
                        i.icon.ion-ios-arrow-right
            .about-home__item
                .about-home__img
                    img(src="img/icons/ico-about-3.png", alt="")
                .about-home__detail
                    h3 Đặt Lịch
                    span Đăng ký và hoàn thành form đăng ký để được đặt lịch và thăm khám sớm nhất.
                    a(href="#") Xem chi tiết
                        i.icon.ion-ios-arrow-right