.banner-home
    .banner-home__wrapper
        img(src="img/background/banner-2.jpg", alt="").img-reponsive
        .banner-home__btn 
            a(href="#") Đăng Ký ngay
                i.icon.ion-ios-arrow-right