.bgr-content
    .dot-arrow
    .container
        .bgr-content__wrapper
            .bgr-content__left
                a(href="#").bgr-content__link
                    img(src="img/images/img-prl-1.jpg", alt="").img-100
            .bgr-content__right
                h2.bgr-content__title Triết Lý Trị Liệu
                .bgr-content__icon
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")
                .bgr-content__detail
                    h3 Điều trị tuỳ chỉnh theo làn da, nhu cầu của khách hàng 3
                    p.bgr-content__text Skin Reborn được mệnh danh là khắc tinh của nám, nếp nhăn, sẹo cũng như quá trình lão hóa da. Liệu trình điều trị của công thức này vô cùng đơn giản và nhanh chóng nhưng mang lại hiệu quả rõ ràng và khác biệt. Rất nhanh, sau khi được các bác sĩ tư vấn, người sử dụng Skin Reborn chỉ cần điều trị 1 lần và trong vòng 7 ngày sẽ thấy rõ hiệu quả phục hồi trên da khoảng 80-90%...
