.carousel-footer
  .container
    .carousel.carousel--footer.js-carousel-logo
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-1.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-2.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-3.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-4.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-5.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-6.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-1.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-2.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/logo/logo-foo-3.jpg', 'carousel__image', 'contain')
