.company-history
    .container
        .company-history__wrapper
            .company-history__detail
                img(src="img/icons/logo-his.png", alt="").company-history__logo
                h2.company-history__title Pamas Beauty Group
                span.company-history__slogan Sự lựa chọn thông minh của phái đẹp
                p.company-history__text Sứ mệnh của Pamas là cung cấp những dịch vụ làm đẹp hoàn hảo giúp mang lại sức khoẻ, vẻ đẹp và hạnh phúc mỗi ngày cho mọi khách hàng.
            .company-history__ruler
                ul.company-history__list
                    li.company-history__item Tất cả những phương pháp làm đẹp tiên tiến và hiệu quả nhất sẽ được ứng dụng tại Pamas để đáp ứng được yêu cầu và mong đợi của người tiêu dùng
                    li.company-history__item Luôn chú trọng phát triển đội ngũ chuyên gia, bác sỹ tài năng tâm huyết với nghề nhằm mang lại hiệu quả điều trị cao và sự an tâm cho mỗi người khi đến với Pamas
                    li.company-history__item Mỗi khách hàng được xây dựng một liệu trình điều trị riêng biệt để đạt được hiệu quả và sự phù hợp tối đa
                    li.company-history__item Đến với Pamas khách hàng không chỉ được điều trị mà còn được chia sẽ, thấu hiểu bởi đội ngũ nhân viên có trình độ, sự hiểu biết và tận tâm
                    li.company-history__item Sự an toàn của quý khách luôn được đặt song hành cùng hiệu quả điều trị ở mức ưu tiên hàng đầu