.content-about-history.pd-100
    .container 
        .content-history
            .content-history__wrapper
                .content-history__detail2
                    h3.content-history__title PAMAS cũng tự hào là nơi chăm sóc sắc đẹp cho nhiều ngôi sao nổi tiếng
                    p.content-history__text cho nhiều ngôi sao nổi tiếng NSND Lê Khanh, NSƯT Kim Xuân, Á quân “bước nhày hoàn vũ” Trương Nam Thành, MC Lê Anh, ca sỹ Khánh Linh, Quán quân Vietnam Next top model 2011 Hoàng Thuỳ, quán quân Vietnam next top model 2013 Mâu Thanh Thuỷ, diễn viên – doanh nhân Mai Thu Hyền, chuyên gia trang điểm Nam Trung, ca sỹ Hoà Minzy.
                    h4.content-history__slogan.slogan-style2  Nhưng hơn tất cả, Pamas đã dành trọn sự tin yêu của hơn 30 ngàn khách hàng trên toàn quốc.
                    
                .content-history__img2
                     a(href="#")
                        img(src="img/background/img-his-7.png", alt="").img-100
