.content-QA
    h1.title-page Hỏi Đáp
    .content-QA__list
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        .content-QA__item
            a(href="faq_detail.html").content-QA__item-link
                p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            .content-QA__item-next
                a(href="faq_detail.html").btn--detail Xem chi tiết 
                    i.icon.ion-ios-arrow-right
                span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
                    
                    
                          
