.content-about-history
    .container
        .content-history
            .content-history__wrapper
                .content-history__detail
                    h3.content-history__title Pamas luôn tự hào là người đi tiên phong trong lĩnh vực thẩm mỹ tại Việt Nam
                    p.content-history__text Hiện nay, Pamas sở hữu trung tâm phẫu thuật thẩm mỹ đạt chuẩn quốc tế tại Hà Nội với hơn 90 nhóm dịch vụ tạo hình và chỉnh sửa các khiếm khuyết như:
                    ul.content-history__list
                        li.content-history__item Nâng mũi nội soi
                        li.content-history__item Độn cằm 3D
                        li.content-history__item Cắt mí
                        li.content-history__item Treo cung mày
                        li.content-history__item Tạo mặt Vline
                        li.content-history__item Căng da bằng chỉ chóp nón kim cương…
                    p.content-history__text  Sự có mặt của trung tâm chăm sóc da Pamas tại Vincom Center là sự gia tăng về tiện ích cho nhóm khách hàng cao cấp trong mô hình mua sắm, vui chơi, giải trí kết hợp với làm đẹp và thư giãn. Bốn trung tâm điều trị về da liễu đặt tại các thành phố là sự tiếp tục khẳng định ưu thế dẫn đầu của Pamas ở nhóm dịch vụ trị mụn, xoá sẹo, trị nám, trẻ hoá da, triệt lông, trắng da điểm 10…: Hà Nội, Đà Nẵng, Hồ Chí Minh và Vũng Tàu
                .content-history__img
                    a(href="#")
                        img(src="img/images/img-his-1.jpg", alt="").img-responsive
                
        .content-history
            h3.content-history__title Trang Thiết Bị
            p.content-history__text Công nghệ điều trị tiên tiến nhất trong ngành thẩm mỹ thế giới
            .list-img
                a(href="#") 
                    img(src="img/images/img-his-2.jpg", alt="").img-responsive
                a(href="#") 
                    img(src="img/images/img-his-3.jpg", alt="").img-responsive
                a(href="#") 
                    img(src="img/images/img-his-4.jpg", alt="").img-responsive
                a(href="#") 
                    img(src="img/images/img-his-5.jpg", alt="").img-responsive
                a(href="#") 
                    img(src="img/images/img-his-6.jpg", alt="").img-responsive
        .content-history
            .content-history__wrapper
                .content-history__detail2
                    h3.content-history__title Đội Ngũ Bác Sĩ
                    h4.content-history__slogan Tận Tâm - Nhiệt Huyết - Giàu Kinh Nghiệm
                    p.content-history__text Bên cạnh những phương pháp điều trị tân tiến được các tổ chức quốc tế CE, FDA chứng nhận về an toàn và hiệu quả, Pamas đặc biệt chú ý đến việc xây dựng đội ngũ chuyên gia, bác sỹ tài năng, giàu kinh nghiệm, tâm huyết với nghề. 
                    p.content-history__text Sự hợp tác độc quyền với hội trưởng hội phẫu thuật thẩm mỹ mặt Hàn Quốc, giáo sư, bác sỹ Moon Hyoung Jin (24470/BYT-CCHN) đánh dấu bước phát triển vượt bậc của Pamas trong tiến trình hội nhập vào thị trường làm đẹp quốc tế nhằm cung cấp chất lượng dịch vụ đạt chuẩn thế giới ở mức cao nhất cho người tiêu dùng ngay tại Việt Nam.
                .content-history__img2
                    a(href="#")
                        img(src="img/images/img-bacsy.png", alt="").img-100


