.contact-page
    .container
        .contact-page__wrapper
            .h1.title-page Liên Hệ
            .contact-page__local
                .contact-page__item
                    strong.contact-page__city Hà Nội
                    ul.contact-page__stores
                        li.contact-page__store-item 
                            .box-phone
                                b Cơ sở 1
                                a(href="tel:0435379980") 04 – 3537 9980
                            span 57 Thái Hà, Q.Đống Đa
                        li.contact-page__store-item 
                            .box-phone
                                b Cơ sở 2
                                a(href="tel:0435379980") 04 – 3976 1423
                            span 01 Hòa Mã, Q. Hai Bà Trưng
                        li.contact-page__store-item 
                            .box-phone
                                b Cơ sở 3
                                a(href="tel:0435379980") 04 – 3936 1350
                            span 37 Thợ Nhuộm, Q. Hoàn Kiếm
                .contact-page__item
                    strong.contact-page__city TP. Hồ Chí Minh
                    ul.contact-page__stores
                        li.contact-page__store-item 
                            .box-phone
                                b Cơ sở 1
                                a(href="tel:0435379980") 08 – 3925 2344
                            span 63 Sương Nguyệt Ánh, Q.1
                        li.contact-page__store-item 
                            .box-phone
                                b Cơ sở 2
                                a(href="tel:0435379980") 04 – 3537 9980
                            span 01 Hòa Mã, Q. Hai Bà Trưng
                .contact-page__item
                    strong.contact-page__city Vũng Tàu
                    ul.contact-page__stores
                        li.contact-page__store-item 
                            .box-phone
                                b Cơ sở
                                a(href="tel:0435379980") 04 – 3537 9980
                            span 88 Trương Công Định, TP. Vũng Tàu
                    strong.contact-page__city.mg-20px Đà Nẵng
                    ul.contact-page__stores
                        li.contact-page__store-item 
                            .box-phone
                                b Cơ sở
                                a(href="tel:0435379980") 04 – 3537 9980
                            span 188 Hoàng Diệu, Q.Hải Châu
            .contact-page__maps
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6574509020297!2d105.78236867469495!3d21.046387980607363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abb158a2305d%3A0x5c357d21c785ea3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyDEkGnhu4duIEzhu7Fj!5e0!3m2!1svi!2s!4v1687108877449!5m2!1svi!2s"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
            h2.contact-page__title Gửi Phản Hồi Tới Chúng Tôi
            .contact-page__form
                form 
                    .box-1
                        .box-1__input 
                            input(type="text" placeholder="Ví dụ: Nguyễn Chi _|")
                        .box-1__input 
                            input(type="text" placeholder="Civn29@gmail.com")
                        .box-1__input 
                            input(type="text" placeholder="0987 675  9876")
                    .box-2
                        .box-2__input
                            textarea(rows="4" placeholder="Để lại lời nhắn cho chúng tôi..." ) 
                    .box-3
                        button(type="submit") Gửi phản hồi

