.detail-QA
    .detail-QA__wrapper
        h1.title-page Hỏi đáp
        .content-QA__list
            .content-QA__item
                a(href="#").content-QA__item-link
                    p The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                .content-QA__item-next
                    a(href="#").btn--detail Xem chi tiết 
                        i.icon.ion-ios-arrow-right
                    span.content-QA__custom (Nguyễn Oanh - NV Văn phòng)
        h2.title-2 Trả lời tư vấn
        .detail-QA__text
            p Studies show that one-tenth of the American population is hearing-impaired. Over the years, hearing aids have helped a great deal in eliminating this deficiency.
            p Studies show that one-tenth of the American population is hearing-impaired. Over the years, hearing aids have helped a great deal in eliminating this deficiency.
            p Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.
        .advanced-content__bgr
            p.advanced-content__text consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        .advanced-content__ruler
            ul.ruler__list
                li.ruler__item 
                    span 1
                    strong Old Fashioned Recipe For Preventing Allergies And Chemical Sensitivities
                    p.advanced-content__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                li.ruler__item 
                    span 1
                    strong Old Fashioned Recipe For Preventing Allergies And Chemical Sensitivities
                    p.advanced-content__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                li.ruler__item 
                    span 1
                    strong Old Fashioned Recipe For Preventing Allergies And Chemical Sensitivities
                    p.advanced-content__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        .advanced-content__gift
            h3 Đến với PAMAS để Nâng tầm vẻ đẹp của bạn!
            span Hãy gọi ngay cho chúng tôi hoặc để lại số điện thoại của bạn 
                p Chúng tôi sẽ gọi và hỗ trợ tư vấn
            .btn-hotline 
                a(href="tel:0987879789") Hotline: 0987879.789
            form(action="") 
                .form__wrapper
                    input(type="text" placeholder="Số Điện Thoại")
                    button(type="submit") Đăng ký
        .detail-QA__text
            p Studies show that one-tenth of the American population is hearing-impaired. Over the years, hearing aids have helped a great deal in eliminating this deficiency.
            p Studies show that one-tenth of the American population is hearing-impaired. Over the years, hearing aids have helped a great deal in eliminating this deficiency.
            p Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.
        .advanced-content__tags
            .tags__wrapper
                strong Tags:
                a(href="#") Từ khóa 1
                a(href="#") Từ khóa 2
                a(href="#") Từ khóa 3
                a(href="#") Từ khóa 4
                a(href="#") Từ khóa 5
        .advanced-content__navNext
            a(href="#").nav-left
                .icon-block
                    i.icon.ion-ios-arrow-left
                span Bài Viết Trước
            a(href="#").nav-right
                .icon-block
                    i.icon.ion-ios-arrow-right
                span Bài Viết Theo
        a.QA-view__detail Xem Các câu hỏi khác
        