.images-customer
    .images-customer__wrapper
        .item-1
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right
        .item-2
            img(src="img/images/img-gallery-2.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right
        .item-3
            img(src="img/images/img-gallery-3.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right
        .item-4
            img(src="img/images/img-gallery-4.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-5
            img(src="img/images/img-gallery-5.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-6
            img(src="img/images/img-gallery-6.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-7
            img(src="img/images/img-gallery-6.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-8
            img(src="img/images/img-gallery-5.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-9
            img(src="img/images/img-gallery-6.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-11
            img(src="img/images/img-gallery-3.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-12
            img(src="img/images/img-gallery-2.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-13
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-14
            img(src="img/images/img-gallery-2.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-15
            img(src="img/images/img-gallery-4.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right 
        .item-16
            img(src="img/images/img-gallery-3.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right
        .item-17
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right
        .item-18
            img(src="img/images/img-gallery-6.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right
        .item-19
            img(src="img/images/img-gallery-5.jpg", alt="").img-100
            img(src="img/images/img-gallery-1.jpg", alt="").img-100
            .btn-next
                a Xem Liệu Trình
                    i.icon.ion-ios-arrow-right