script(type='text/javascript').
  window.addEventListener('DOMContentLoaded', function () {
    new QueryLoader2(document.querySelector("body"), {
    barColor: "#d3bd2b",
    backgroundColor: "#563836",
    percentage: false,
    barHeight: 0,
    minimumTime: 300,
    fadeOutTime: 0,
    onComplete: function () {
        afterLoad()
      }
    });
  });
