.nav-main
  .nav-main__wrap
    .container.nav-main__container
      .nav-main__inner
        .nav-main__menu
          ul
            li.is-active
              a(href="home.html" title="")
                span Home
            li
              a(href="info.html" title="")
                span Giới thiệu
            li
              a(href="product-detail.html" title="")
                span Tư vấn
            li
              a(href="blog.html" title="")
                span Khám phá
            li
              a(href="partner.html" title="")
                span Tuyển dụng
            li
              a(href="contact-us.html" title="")
                span Liên hệ
        .nav-main__search.js-main-search
          .nav-main__search-inner
            .nav-main__search-trigger.js-main-search-trigger
              span.icon.ion-ios-search-strong
            .nav-main__search-main.js-main-search-dropdown
              form.nav-main__search-form
                input#iptSearchDesktop.nav-main__search-input(type='search', placeholder='Từ khóa...')
                button.nav-main__search-button(type='button')
                  span.icon.ion-ios-search-strong
