.news-active_top
    .news-active__wrapper
        .news-active__box1
            a(href="#")
                img(src="img/images/img-top-new-1.jpg", alt="").img-100
            h3
                a(href="#")  5 Tips To Finding Effective Anti Snore Devices anti snore
        .news-active__box1
            .news-active__box2
                a(href="#")
                    img(src="img/images/img-top-new-2.jpg", alt="").img-100
                h3
                    a(href="#") Lịch sử ngày Quốc tế Phụ nữ 8/3
            .news-active__box2
                .news-active__box3
                    a(href="#")
                        img(src="img/images/img-top-new-3.jpg", alt="").img-100 
                    h3 
                        a(href="#") Lasik Procedures Explained Can It Help Your...
                .news-active__box3
                    a(href="#")
                        img(src="img/images/img-top-new-4.jpg", alt="").img-100 
                    h3 
                        a(href="#") Lasik Procedures Explained Can It Help Your...