.paging
    ul.paging-list
        li.pading-item
            a(href="#") 
                i.icon.ion-ios-arrow-left
        li.pading-item.active
            a(href="#") 1
        li.pading-item
            a(href="#") 2
        li.pading-item
            a(href="#") 3
        li.pading-item
            a(href="#") 4
        li.pading-item
            a(href="#") 5
        li.pading-item
            a(href="#") 
                i.icon.ion-ios-arrow-right