section.advanced-content
    .advanced-content__wrapper
        h1.advanced-content__heading Lan Anh &amp; Quá Trình Điều Trị Sẹo Rỗ
        .advanced-content__social
            img(src="img/images/img-social.jpg", alt="").img-responsive
        .advanced-content__before
            .content__before-detail
                strong Allergies and chemical sensitivities are a symptom of a compromised immune system.
                p Candida overgrowth in the body may be the precursor to immune dysfunction causing all kinds of illness and allergies to food, pollen and multiple chemical sensitivities. Antibiotics, sugar and refined carbohydrates help create and grow this problem.
                ul 
                    li 
                        span Methods That Aid In Eczema Relief
                        i.icon.ion-social-twitter
                    li 
                        span What Are The Lasik Procedures
                        i.icon.ion-social-twitter
                    li 
                        span Remedies For Colic
                        i.icon.ion-social-twitter
                    li 
                        span What Are The Lasik Proce
                        i.icon.ion-social-twitter
            .content__before-img
                img(src="img/images/img-before-1.jpg", alt="").img-responsive
        .advanced-content__bgr
            p.advanced-content__text consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        h2.advanced-conet__title Quá trình điều trị
        .list-imgx3
            a(href="#")
                img(src="img/images/img-service-1.jpg", alt="") 
            a(href="#")
                img(src="img/images/img-service-2.jpg", alt="") 
            a(href="#")
                img(src="img/images/img-service-3.jpg", alt="") 
        .advanced-content__text consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        .advanced-content__ruler
            ul.ruler__list
                li.ruler__item 
                    span 1
                    strong Old Fashioned Recipe For Preventing Allergies And Chemical Sensitivities
                    p.advanced-content__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                li.ruler__item 
                    span 1
                    strong Old Fashioned Recipe For Preventing Allergies And Chemical Sensitivities
                    p.advanced-content__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                li.ruler__item 
                    span 1
                    strong Old Fashioned Recipe For Preventing Allergies And Chemical Sensitivities
                    p.advanced-content__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        h2.advanced-conet__title Cảm nhận trực tiếp từ khách hàng
        .advanced-content__video
            iframe(src="https://www.youtube.com/embed/m792OCt9Zz0", frameborder="0" allowfullscreen) 
        .advanced-content__gift
            h3 Đến với PAMAS để Nâng tầm vẻ đẹp của bạn!
            span Hãy gọi ngay cho chúng tôi hoặc để lại số điện thoại của bạn 
                p Chúng tôi sẽ gọi và hỗ trợ tư vấn
            .btn-hotline 
                a(href="tel:0987879789") Hotline: 0987879.789
            form(action="") 
                .form__wrapper
                    input(type="text" placeholder="Số Điện Thoại")
                    button(type="submit") Đăng ký
        .advanced-content__tags
            .tags__wrapper
                strong Tags:
                a(href="#") Từ khóa 1
                a(href="#") Từ khóa 2
                a(href="#") Từ khóa 3
                a(href="#") Từ khóa 4
                a(href="#") Từ khóa 5
        .advanced-content__navNext
            a(href="#").nav-left
                .icon-block
                    i.icon.ion-ios-arrow-left
                span Bài Viết Trước
            a(href="#").nav-right
                .icon-block
                    i.icon.ion-ios-arrow-right
                span Bài Viết Theo
        .advanced-content__post
            h2.advanced-conet__title Bài viết liên quan
            .advanced-content__list-news
                .advanced-content__item-news
                    a(href="#").item-news__img  
                        img(src="img/images/img-news-side-1.jpg", alt="").img-100
                    a(href="#").item-news__detail 
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 
                .advanced-content__item-news
                    a(href="#").item-news__img  
                        img(src="img/images/img-news-side-2.jpg", alt="").img-100
                    a(href="#").item-news__detail 
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 
                .advanced-content__item-news
                    a(href="#").item-news__img  
                        img(src="img/images/img-news-side-3.jpg", alt="").img-100
                    a(href="#").item-news__detail  
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 
                .advanced-content__item-news
                    a(href="#").item-news__img 
                        img(src="img/images/img-news-side-4.jpg", alt="").img-100
                    a(href="#").item-news__detail 
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 


