.content-story
    .content-story__list
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-1.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html") Hành Trình đi tìm tuổi xuân với Skin Reborn
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-2.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html") Dangerous Drugs In The News
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-3.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html") Learn About Swimmers Ear
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-4.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html") How To Combat A Bout Of Chronic Headache
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-1.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html") Lịch sử Ngày Quốc Tế Phụ Nữ 08/03
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-2.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html") Learn About Swimmers Ear
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-3.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html")  Lịch sử Ngày Quốc Tế Phụ Nữ 08/03
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
        .content-story__item
            .content-story__img
                a(href="story-detail.html") 
                    img(src="img/images/img-news-4.jpg", alt="").img-100
                    .hover-show
            .content-story__detail
                .tab-news__news
                    h3.news-title
                        a(href="story-detail.html") How To Combat A Bout Of Chronic Headache
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                    a(href="story-detail.html").btn-next Xem chi tiết
                        i.icon.ion-ios-arrow-right
