.register-home
    .container 
        .register-home__wrapper
            .register-home__title
                h2 Câu chuyện khách hàng
                span Những câu chuyện với những cuộc hành trình khác nhau trong quá trình tìm kiếm tuổi xuân
            .register-home__content
                .register-home__video
                    .img-video
                    .register-home__detail
                        h3
                            a(href="#") Câu chuyện “Hành trình đi tìm tuổi xuân”
                        p Tôi bị mụn dai dẳng, mọc đi mọc lại, chán nhất là thử đủ các loại mặt nạ, thuốc bôi mà không khỏi. Giờ ai cũng hỏi tôi trị mụn ở đâu mà được kết quả rõ rệt vậy
                        b Thu Hà (28 tuổi - Hà Nội) -
                            span  Nhân viên văn phòng
                    .regiser-home__arrow
                        a(href="#").arrow-prev 
                            i.icon.ion-ios-arrow-left
                        a(href="#").arrow-next
                            i.icon.ion-ios-arrow-right
                .register-home__form
                    form
                        input(type="text" placeholder = "Họ và tên").input-text
                        input(type="text" placeholder = "Số điện thoại").input-text
                        input(type="text" placeholder = "Yêu cầu đăng ký").input-text
                        a(href="#").btn-regiser Đăng ký
