.register-history
    .container
        .register-history__wrapper 
            .register-history__img
                img(src="img/images/img-bacsy-2.png", alt="").img-responsive
            .register-history__form
                h3.register-history__title Bạn có những câu hỏi 
                    p và cần được tư vấn rõ ràng.
                span.register-history__desc Bạn có những câu hỏi và cần được tư vấn rõ ràng.
                form 
                    .box-1
                        .box-1__input 
                            input(type="text" placeholder="Họ Tên")
                        .box-1__input 
                            input(type="text" placeholder="Số Điện Thoại")
                        .box-1__input 
                            input(type="text" placeholder="Email")
                    .box-2
                        .box-2__input
                            textarea(rows="3" placeholder="Nội dung câu hỏi" ) 
                    .box-3
                        button(type="submit") Gửi câu hỏi
                 
