.sidebar-menu(role='navigation')
  ul.sidebar-menu__inner
    li.sidebar-menu__item
      a.sidebar-menu-link(href='#', title='') Trang chủ
    li.sidebar-menu__item
      a.sidebar-menu-link(href='#', title='') Giới thiệu
    li.sidebar-menu__item.sidebar-menu__item--sub
      a.sidebar-menu__toggle
      a.sidebar-menu-link(href='#', title='') Sản phẩm
      ul.sidebar-menu__dropdown
        li.sidebar-menu__item
          a.sidebar-menu-link(href='#', title='') Sản phẩm cấp 2
        li.sidebar-menu__item
          a.sidebar-menu-link(href='#', title='') Sản phẩm cấp 3
        li.sidebar-menu__item
          a.sidebar-menu-link(href='#', title='') Sản phẩm cấp 4
    li.sidebar-menu__item.sidebar-menu__item--sub
      a.sidebar-menu__toggle
      a.sidebar-menu-link(href='#', title='') Dịch vụ
      ul.sidebar-menu__dropdown
        li.sidebar-menu__item
          a.sidebar-menu-link(href='#', title='') Thiết kế webste
        li.sidebar-menu__item
          a.sidebar-menu-link(href='#', title='') Tư vấn phần mềm
        li.sidebar-menu__item
          a.sidebar-menu-link(href='#', title='') Seo Website
    li.sidebar-menu__item
      a.sidebar-menu-link(href='#', title='') Tin tức
    li.sidebar-menu__item
      a.sidebar-menu-link(href='#', title='') Hỏi Đáp
    li.sidebar-menu__item
      a.sidebar-menu-link(href='#', title='') Liên hệ
