aside.aside-wrapper
    .sidebar__register
        h3.sidebar__register-title Đăng ký tư vấn
        form(action="#", method="get")
            input(type="text" placeholder="Họ và Tên").sidebar__register-input
            input(type="text" placeholder="Số Điện Thoại").sidebar__register-input
            input(type="text" placeholder="Dịch vụ yêu cầu").sidebar__register-input
            button(type="submit").sidebar__register-btn Đăng ký
    h2.advanced-conet__title Danh mục
    ul.sidebar__list-wrapper
        li.sidebar__list-item 
            a(href="faq_detail.html").sidebar__list-link Điều Trị Nám Da
        li.sidebar__list-item 
            a(href="faq_detail.html").sidebar__list-link Điều Trị Mụn Rỗ
        li.sidebar__list-item 
            a(href="faq_detail.html").sidebar__list-link Trẻ Hoá Làn Da
        li.sidebar__list-item 
            a(href="faq_detail.html").sidebar__list-link Điều Trị Nám Da
        li.sidebar__list-item 
            a(href="faq_detail.html").sidebar__list-link Điều Trị Mụn Rỗ
        li.sidebar__list-item 
            a(href="faq_detail.html").sidebar__list-link Trẻ Hoá Làn Da
    h2.advanced-conet__title Dịch vụ nổi bật
    .sidebar__qc
        a(href="#") 
            img(src="img/images/banner-qc-1.jpg", alt="").img-responsive
    h2.advanced-conet__title Câu chuyện khách hàng
    .sidebar__news
        .sidebar__news-item
            .sidebar__news-img
                a(href="#")
                    img(src="img/images/img-news-side-1.jpg", alt="").img-100
            .sidebar__news-detail
                a(href="#")
                    i.icon.ion-social-twitter
                    span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied
        .sidebar__news-item
            .sidebar__news-img
                a(href="#")
                    img(src="img/images/img-news-side-2.jpg", alt="").img-100
            .sidebar__news-detail
                a(href="#")
                    i.icon.ion-social-twitter
                    span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied
        .sidebar__news-item
            .sidebar__news-img
                a(href="#")
                    img(src="img/images/img-news-side-3.jpg", alt="").img-100
            .sidebar__news-detail
                a(href="#")
                    i.icon.ion-social-twitter
                    span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied
        .sidebar__news-item
            .sidebar__news-img
                a(href="#")
                    img(src="img/images/img-news-side-4.jpg", alt="").img-100
            .sidebar__news-detail
                a(href="#")
                    i.icon.ion-social-twitter
                    span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied
    .tab-news__more
        a(href="#") Xem Danh Mục
