.sidebar-search
  .sidebar-search__inner
    .sidebar-search__button.js-search-trigger
      span.icon.ion-ios-search-strong
    .sidebar-search__main
      form.sidebar-search__form
        input#iptSearchMobile.sidebar-search__input(type='search', placeholder='Từ khóa...')
        button.sidebar-search__submit(type='button')
          span.icon.ion-ios-search-strong
