.sidebar-lang
  a(href='#', title='')
    i.ion-ios-gear-outline
  .sidebar-lang__dropdown
    a(href='#', title='').sidebar-lang__item
      img(src='img/flags/lang-en.png').sidebar-lang__item-image
      span.sidebar-lang__item-title English
    a(href='#', title='').sidebar-lang__item
      img(src='img/flags/lang-vi.png')
      span.sidebar-lang__item-title Vietnamese
    a(href='#', title='').sidebar-lang__item
      img(src='img/flags/lang-ja.png')
      span.sidebar-lang__item-title Japannes
    a(href='#', title='').sidebar-lang__item
      img(src='img/flags/lang-kr.png')
      span.sidebar-lang__item-title Korea
