.sidebar-search
  .sidebar-search__inner
    .sidebar-search__button
      span.icon.ion-ios-search-strong
    .sidebar-search__main
      form.sidebar-search__form
        input#iptSearchMobie.ipt-search(type='search', placeholder='Từ khóa...')
        button.bt-search-mb(type='button')
          span.icon.ion-ios-search-strong
