.slideout(role='navigation').js-slideout
  .slideout__container
    .slideout__inner
      .menu.js-menu-mobile
        .menu__inner
          .menu__item
            .menu__title
              a.menu-link(href='/', title='') Trang chủ
          .menu__item
            .menu__title
              a.menu-link(href='info.html', title='') Giới thiệu
          .menu__item
            .menu__title
              a.menu-link(href='product.html', title='') Xe và dịch vụ
          .menu__item
            .menu__title
              a.menu-link(href='product-detail.html', title='') Tư vấn
          .menu__item
            .menu__title
              a.menu-link(href='event.html', title='') Bảng giá
          .menu__item
            .menu__title
              a.menu-link(href='blog.html', title='') Khám phá
          .menu__item
            .menu__title
              a.menu-link(href='partner.html', title='') Tuyển dụng
          .menu__item
            .menu__title
              a.menu-link(href='contact-us.html', title='') Liên hệ
  .slideout__overlay.js-slideout-overlay
