.skinRebon
    .container
        .skinRebon__wrapper
            .skinRebon__left
                img(src="img/images/img-skinrebon.png", alt="").img-100
                .skinRebon__list-btn
                    a(href="#") Đột phá Điều trị 1 lần duy nhất
                    a(href="#") Giải pháp Mọi vấn đề làn da
                    a(href="#") Niềm tin của khách hàng
            .skinRebon__right
                .skinRebon__right-wrapper
                  .skinRebon__circle
                    .skinRebon-circle__text
                        h4 Skin Reborn
                        h3 Freckles
                        p What would you do if you could achieve the benefits of a professional skin care treatment at home for a fraction of the cost of a visit to the
                        a(href="#").btn--detail  Xem chi tiết
                            i.icon.ion-ios-arrow-right
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Freckles
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Youth
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Smooth
                    .skinRebon-circle__item
                        span Skin Reborn
                        b heal
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Flesh
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Blemish
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Acne
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Luster
                    .skinRebon-circle__item
                        span Skin Reborn
                        b Melsma
            .skinRebon__text-after
                h2 Hàng Nghìn Phụ Nữ Đã Kiểm Thử &#38 Thành Công!
                span Quá trình trị liệu và kiểm thử của khách hàng PAMAS
                                

