.story-detail
    .story-detail__wrapper
        h1.advanced-content__heading Lan Anh &amp; Quá Trình Điều Trị Sẹo Rỗ 1
        .advanced-content__social
            img(src="img/images/img-social.jpg", alt="").img-responsive
        p.story-detail__text-top Bạn Nguyễn Phương Trang - Nhân viên văn phòng tự tin với nhan sắc “không tuổi”  trẻ trung như “gái đôi mươi” sau lần trị liệu theo phương pháp Skin Reborn. Hãy cùng xem chị đã thay đổi và nâng tầm sắc đẹp của mình bất ngờ thế nào nhé!
        .advanced-content__video
            iframe(src="https://www.youtube.com/embed/m792OCt9Zz0", frameborder="0" allowfullscreen) 
        .story-detail__content
            strong Chào Trang! 
            p.story-detail__text consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ?
        .story-detail__before
            p.story-detail__text1 Da mình bị mụn nhiều và thâm khiến khuôn mặt mình trở nên thiếu sức sống  già nua so với tuổi. Mặc dù mình có sử dụng rất nhiều loại  kem chống lão hóa nhưng dường như tình trạng này không được cải thiện.  Cũng vì nguyên nhân đó, mình luôn cảm thấy thiếu tự tin khi đứng trước bạn bè cùng lứa.
            h2.advanced-conet__title Đây là hình ảnh trước kia của mình
            .list-imgx3
                a(href="#")
                    img(src="img/images/img-service-1.jpg", alt="") 
                a(href="#")
                    img(src="img/images/img-service-2.jpg", alt="") 
                a(href="#")
                    img(src="img/images/img-service-3.jpg", alt="") 
        .story-detail__content
            p.story-detail__text dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident ?
        .advanced-content__bgr
            p.advanced-content__text dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident ?
            p.advanced-content__text dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident ?
            p.advanced-content__text dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident ?
        .advanced-content__gift
            h3 Đến với PAMAS để Nâng tầm vẻ đẹp của bạn!
            span Hãy gọi ngay cho chúng tôi hoặc để lại số điện thoại của bạn 
                p Chúng tôi sẽ gọi và hỗ trợ tư vấn
            .btn-hotline 
                a(href="tel:0987879789") Hotline: 0987879.789
            form(action="") 
                .form__wrapper
                    input(type="text" placeholder="Số Điện Thoại")
                    button(type="submit") Đăng ký
        .advanced-content__tags
            .tags__wrapper
                strong Tags:
                a(href="#") Phẫu thuật mắt
                a(href="#") Cắt mi
                a(href="#") Trị mụn đầu đen
                a(href="#") Phẫu thuật mắt
                a(href="#") Cắt mi
        .advanced-content__navNext
            a(href="#").nav-left
                .icon-block
                    i.icon.ion-ios-arrow-left
                span Bài Viết Trước
            a(href="#").nav-right
                .icon-block
                    i.icon.ion-ios-arrow-right
                span Bài Viết Theo
        .advanced-content__post
            h2.advanced-conet__title Bài viết liên quan
            .advanced-content__list-news
                .advanced-content__item-news
                    a(href="#").item-news__img  
                        img(src="img/images/img-news-side-1.jpg", alt="").img-100
                    a(href="#").item-news__detail 
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 
                .advanced-content__item-news
                    a(href="#").item-news__img  
                        img(src="img/images/img-news-side-2.jpg", alt="").img-100
                    a(href="#").item-news__detail 
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 
                .advanced-content__item-news
                    a(href="#").item-news__img  
                        img(src="img/images/img-news-side-3.jpg", alt="").img-100
                    a(href="#").item-news__detail  
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 
                .advanced-content__item-news
                    a(href="#").item-news__img 
                        img(src="img/images/img-news-side-4.jpg", alt="").img-100
                    a(href="#").item-news__detail 
                        span Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied 
