.tab-news
    .container
        .tab-news__title
            h2 Hoạt Động Pamas
        .tab-news__main
            ul.tab-news__tabs
                li 
                 a(href="#")  Tin Tức Pamas
                li 
                 a(href="#")  Cẩm Nang Phụ Nữ
                li 
                 a(href="#")  Xu hướng mới
            .tab-news__detal
                .tab-news__news
                    h3 
                        a Lịch sử Ngày Quốc Tế Phụ Nữ 08/03
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                .tab-news__news
                    h3 
                        a Lịch sử Ngày Quốc Tế Phụ Nữ 08/03
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    p.tab-news__text Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                .tab-news__news
                    h3 
                        a Lịch sử Ngày Quốc Tế Phụ Nữ 08/03
                    .tab-news__date
                        span.date 12/3/2107 
                        span.comment 124 comments
                    .tab-news__text
                        p Lịch sử ngày 8-3 bắt đầu từ phong trào của nữ công nhân ngành dệt nước Mỹ vào cuối thế kỳ XIX...
                .tab-news__more
                    a(href="#") Xem Thêm
                                    
