.timeline-his
    .container
        .timeline-his__wrapper
            h2.timeline-his__title 15 Năm
            span.timeline-his__slogan Một hành trình cho vẻ đẹp trọn vẹn
            .timeline-his__line
                .timeline-his__item 
                    strong 2001
                    span Thành Lập
                    .timeline-his__tooltip
                        span trung tâm đặc trị thẩm mỹ công nghệ cao Pamas
                .timeline-his__item 
                    strong 2016
                    span Pamas Beauty Group
                    .timeline-his__tooltip
                        span Pamas ra mắt biểu tượng logo mới, chính thức thành lập tập đoàn PAMAS
                .timeline-his__item 
                    strong Hiện nay
                    span Phát triển 8 chi nhánh
                    .timeline-his__tooltip
                        span Phát triển mạnh mẽ 8 chi nhánh trên toàn quốc