@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.rating-wrap {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;

    .title {
        font-size: 16px;
        font-weight: bold;
        color: $text-color-primary;
        margin-bottom: 15px;
        line-height: 1.45em;
    }
}

.rating-content {
    float: left;
    width: 100%;

    b {
        display: block;
        margin-bottom: 5px;
    }

    span {
        display: inline-block;
        margin-bottom: 5px;
    }

    .text-xs-right {
        text-align: right;

        span {
            display: block;
        }
    }
}

.round-star {
    float: left;
    width: 100%;
    margin: 7px 0;
}

.rating-ruler {
    float: left;
    width: 100%;

    b {
        margin-top: 5px;
        display: block;
    }

    ul {
        li {
            padding: 3px 0;
            display: block;
            font-size: 14px;
        }
    }
}

.rating-show {
    float: left;
    width: 100%;

    span {
        display: block;
        margin-bottom: 10px;
    }
}

.rating-result {
    width: 45%;
    float: left;

    .boxStarRating {
        width: 100%;
    }

    span {
        display: block;
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    small {
        display: block;
        float: left;
        margin-top: 3px;
    }
}

.rating-chars {
    width: 50%;
    float: right;

    ul {
        display: block;
        width: 100%;

        li {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            float: left;

            i {
                display: inline-block;
                width: 50px;
                float: left;
                font-style: normal;
            }
        }
    }

    .proge {
        width: calc(100% - 135px);
        float: left;
        height: 22px;
        background-color: #ccc;
        margin-right: 15px;
        position: relative;
        position: relative;

        .proge-picen {
            background-color: $color-primary;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}


.rating-comments {
    float: left;
    width: 100%;

    .title-comments {
        float: left;
        width: 100%;
        padding: 10px;
        background-color: #ccc;

        h4 {
            float: left;
            display: inline-block;
            font-size: 18px;
            width: auto;
        }

        ul {
            float: right;
            display: inline-block;

            li {
                display: inline-block;
                margin: 0 10px;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
}

.rating-comments-wrap {
    float: left;
    width: 100%;
}

.viewStarRating {
    .star-rating {
        width: 100px;
        height: 20px;
    }

    .count-rating {
        display: inline-block;
        margin-left: 10px;
    }

    .time-rating {
        float: right;
    }
}

.item-rating-comment {
    margin: 10px 0;
    display: block;
    float: left;
}

.rating-name {
    margin-top: 5px;

    h6 {
        display: inline-block;
        width: auto;
        padding-left: 10px;
        font-size: 14px;
        color: $color-primary;

        i {
            margin-right: 5px;
        }
    }
}

.rating-text {
    text-align: justify;
    line-height: 1.4em;
    padding: 5px 0;
    display: block;
}

.rating-like {
    h5 {
        display: inline-block;
        font-size: 14px;
        color: #777;
        width: auto;

        i {
            margin-right: 5px;
        }
    }
}

.rating-dropdown {
    float: right;
    width: 15px;
    height: 30px;
    display: block;
    position: relative;

    a {
        text-align: right;
        line-height: 15px;
        color: $text-color-primary;
        display:block;
        i {
            font-size: 18px;
        }
    }

    .dropdown-ct {
        width: 120px;
        border: 1px solid #ccc;
        right: 0;
        top: 15px;
        position: absolute;
        background-color: #fff;
        opacity:0;
        visibility:hidden;

        a {
            display: block;
            text-align: right;
            padding: 5px 10px;
            line-height: 1.4em;
            &:first-child {
                border-bottom:1px solid #ccc;
            }
        }
    }
}
