$primary-heading:#424141;
$primary-color :#424141;
$primary-color-hover:#ed161d;
$primary-border-color:#e5e5e5;
$primary-color-title:#ed161d;
$color-time:#9b9b9b;


.box-detail-news {
    float: left;
    width: 100%;
}

.detail-news {
    width: 100%;
    float: left;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $primary-border-color;

    h1.title-news {
        font-size: 24px;
        color: $primary-heading;
        margin: 5px 0;
    }
}

.social-like {
    width: 100%;
    float: left;
    overflow: hidden;
    max-height: 50px;
    min-height: 30px;
    padding: 5px 0;
}

.content-news-detail {
    margin-top: 10px;
    float: left;
    width: 100%;
    color: $primary-color;
    line-height: 1.5em;
    text-align:justify;

    p {
        color: $primary-color;
        line-height: 1.5em;
    }

    img {
        max-width: 100%;
        margin:10px auto;
        display:block;
    }
}

.tags-news {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    float: left;
    width: 100%;
    border-bottom: 1px solid $primary-border-color;

    strong {
        font-size: 16px;
        color: $primary-color;

        span {
            font-size: 18px;
            color: $primary-color;
            padding-right: 5px;
        }
    }

    span {
        font-size: 18px;
        color: $primary-color;
        padding-right: 5px;
    }

    a {
        font-size: 14px;
        border: 1px solid $primary-border-color;
        padding: 3px 6px;
        display: inline-block;
        margin-right:3px;
        margin-left: 3px;
        color: $primary-color;
        margin-top: 3px;
        margin-bottom: 3px;

        &:hover {
            border: 1px solid $primary-color-hover;
            background: $primary-color-hover;
            color: #fff;
        }
    }
}

.list-news-other {
    margin-top: 20px;
    width: 100%;
    float: left;
    margin-bottom: 15px;

    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        width: 100%;
        float: left;
    }

    strong {
        display: inline-block;
        float: left;
        padding-bottom: 3px;
        font-size: 18px;
        color: $primary-color-hover;
        font-weight: bold;
    }

    ul {
        padding-left: 15px;

        li {
            display: block;
            width: 100%;
            padding: 6px 0;
            float: left;

            a {
                color: #757474;
                font-size: 14px;
                font-weight:300;

                &:before {
                    margin-top: 8px;
                    float: left;
                    background: $primary-color-hover;
                    width: 4px;
                    height: 4px;
                    content: '';
                    display: inline-block;
                    margin-left: -15px;
                }

                &:hover {
                    color: $primary-color-hover;

                    &:before {
                        background:$primary-color-hover;
                    }
                }
            }
        }
    }
}

.box-aside {
    width: 100%;
    float: left;
    margin-top: 20px;

    .title-box {
        float: left;
        border-bottom: 2px solid $primary-border-color;
        width: 100%;

        a {
            font-size: 18px;
            color: $primary-color-hover;
            display: block;
            padding-bottom: 3px;
            font-weight: bold;
        }
    }
}

.item-news-aside {
    width: 100%;
    float: left;
    padding: 10px 0;
    border-bottom: 1px dashed $primary-border-color;

    &:first-child {
        padding-top: 15px;
    }

    &:last-child {
        border-bottom: 0;
    }

    .img {
        float: left;
        width: 30%;
        position: relative;
    }

    .detail {
        float: left;
        width: 70%;
        padding-left: 10px;
    }

    a {
        color: $primary-color;
        display: block;

        &:hover, &:focus {
            color: $primary-color-hover;
        }
    }

    time {
        color: $color-time;
        display: block;
        padding-top: 5px;
        font-size: 12px;
    }
}

.box-aside ul {
    float: left;
    width: 100%;

    li {
        border-bottom: 1px dashed $primary-border-color;
        display: block;
        width: 100%;
        padding: 8px 0;

        a {
            font-size: 14px;
            color: $primary-color;

            i {
                font-size: 16px;
            }

            &:hover, &:focus {
                color: $primary-color-hover;
            }
        }
    }
}

/*End Detail news*/
