link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=vietnamese")
link(rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon-precomposed.png")
link(rel="icon" href="img/icons/favicon.ico")


link(rel="stylesheet" href="css/bootstrap.min.css")
link(rel="stylesheet" href="css/plugins.min.css") 
link(rel="stylesheet" href="css/styles.min.css") 
<!--[if lt IE 9]>
    meta(http-equiv="refresh" content="0; url=detect.html")
    <script type="text/javascript">
    var regExp = / <![CDATA[ /;
    window.top.location = 'detect.html';
    var regExp = / ]]> /;
    </script>
<![endif]-->
<!--[if lt IE 9]>
    script(src="js/modernizr-cus.js")
    script(src="js/html5shiv.js")
    script(src="js/respond.min.js")
<![endif]-->