script(src="js/vendors.js")
script(src="js/loading.min.js")

<!--End JavaScript Top -->
<!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <noscript><link rel="stylesheet" href="css/styles.css"/></noscript>
<![endif]-->