.slider-carousel.owl-carousel.owl-full
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-1.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-2.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-3.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-1.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-2.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-3.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-1.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-2.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-3.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-1.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-2.jpg')
  a.item(href='#', title='')
      img.owl-lazy(data-src='img/products/thub-3.jpg')