.owlThub
    #slide_sync.owl-carousel.owlThubMain
        .item-slider
            a.callFullScreen(href='img/products/thub-1.jpg', title='', data-fancybox="gallery" data-caption="Caption #1")
            img.owl-lazy(data-src='img/products/thub-1.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-2.jpg', title='', data-fancybox="gallery" data-caption="Caption #2")
            img.owl-lazy(data-src='img/products/thub-2.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-3.jpg', title='', data-fancybox="gallery" data-caption="Caption #3")
            img.owl-lazy(data-src='img/products/thub-3.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-1.jpg', title='', data-fancybox="gallery" data-caption="Caption #4")
            img.owl-lazy(data-src='img/products/thub-1.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-2.jpg', title='', data-fancybox="gallery" data-caption="Caption #5")
            img.owl-lazy(data-src='img/products/thub-2.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-3.jpg', title='', data-fancybox="gallery" data-caption="Caption #6")
            img.owl-lazy(data-src='img/products/thub-3.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-1.jpg', title='', data-fancybox="gallery" data-caption="Caption #7")
            img.owl-lazy(data-src='img/products/thub-1.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-2.jpg', title='', data-fancybox="gallery" data-caption="Caption #8")
            img.owl-lazy(data-src='img/products/thub-2.jpg', alt='')
        .item-slider
            a.callFullScreen(href='img/products/thub-3.jpg', title='', data-fancybox="gallery" data-caption="Caption #9")
            img.owl-lazy(data-src='img/products/thub-3.jpg', alt='')
        
    .boxOwlThumbnail
        #thub_sync.owl-carousel.owlThumbnail
            .item-thub
                img.owl-lazy(data-src='img/products/thub-1.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-2.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-3.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-1.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-2.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-3.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-1.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-2.jpg', alt='')
            .item-thub
                img.owl-lazy(data-src='img/products/thub-3.jpg', alt='')
            