#js-slider-main.owl-carousel.owl-full
  .item-owlFull
    a(href='#', title='Hello, World! 1')
      img.owl-lazy(data-src='img/products/banner-1.jpg')
  .item-owlFull
    a(href='#', title='Hello, World! 1')
      img.owl-lazy(data-src='img/products/banner-2.jpg')
