extends ../_layouts/_layouts
include ../_mixins/_image
include ../_mixins/_crumber

block variables
  - var title='Advanced'

block content
  .main-pageAdvanced
    .crumbar
      +crumbar("Liên hệ")
    include ../_components/_contact_page