extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Advanced'

block content
  .main-pageAdvanced
    include ../_components/_crumbar
    include ../_components/_contact_page