extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Q&A_pages'

block content
  .main-pageAdvanced
    include ../_components/_crumbar
    .container
        .pageQA__wrapper
            include ../_components/_content_Q&A-detail
            include ../_components/_sidebar_2
            