extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='History'

block content
  .main-pageHistory
    include ../_components/_crumbar
    include ../_components/_video_history
    include ../_components/_timeline_history
    include ../_components/_content-about_history
    include ../_components/_bgr-content_history
    include ../_components/_content-about_history2
    include ../_components/_company_history
    include ../_components/_register_history



