extends ../_layouts/_layouts

block content
  .listnew
    .container
      //- include ../_modules/_news/_news_list
      //- include ../_modules/_checkbox_radio/_checkbox
      //- include ../_modules/_checkbox_radio/_radio_button
      //- include ../_modules/_sliders/_slider_full
      //- include ../_modules/_sliders/_carousel
      //- include ../_modules/_popups/_popup_wrap
      //- include ../_modules/_popups/_popup_thanks
      .row
        .col-6
          //- include ../_modules/_sliders/_slider_thumb
