extends ../_layouts/_layouts

block content
  .listnew
    .container
      .row
        .col-sm-8
          //- include ../_modules/_news/_news_list
          include ../_modules/_checkbox_radio/_checkbox
          include ../_modules/_checkbox_radio/_radio_button
    