extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Home'
block content
  .main-pageHome
    include ./_home/_carousel-banner
    include ../_components/_about_home
    include ../_components/_bgr_content
    include ../_components/_skinrebon
    include ../_components/_images_custome
    include ../_components/_register_home
    include ../_components/_tab_news
