extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Index'
block content
  .main-pageHome
    include ../_components/_about_home
    include ../_components/_bgr_content
    include ../_components/_skinrebon
    include ../_components/_register_home
