extends ../_layouts/_layouts

block variables
  - var title='Modules'

block content
  .test-module
  .test-module
  .test-module
  .test-module
  .test-module
  .test-module
  .test-module
  .test-module
  .test-module
  .test-module
  .carousel
    .carousel__item haha
    .carousel__item haha
    .carousel__item haha
    .carousel__item haha
