extends ../_layouts/_layouts
include ../_mixins/_image
include ../_mixins/_crumber

block variables
  - var title='news-active'

block content
  .main-pageAdvanced
    .crumbar
      +crumbar("Tư vấn")
    .container
        .pageQA__wrapper
            include ../_components/_news-active_top
            include ../_components/_page_story
            include ../_components/_sidebar_3
            include ../_components/_paging