extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='story-detail'

block content
  .main-pageAdvanced
    include ../_components/_crumbar
    .container
        .pageAdvanced__wrapper
            include ../_components/_story_detail_content
            include ../_components/_sidebar_advanced