@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";

.popup-wrap {
    max-width: 550px;
    background-color: #fff;
    margin: 10px auto;
    max-height: 100%;
    position: relative;
    padding: 0;
    overflow: visible;


    .popup-header {
        text-align: center;
    }

    .popup-content {
        text-align: center;
        width: 100%;
        padding: 20px 25px 10px 25px;
        max-height: calc(100vh - 80px);
        overflow: auto;
    }

    .popup-footer {
    }

    .popup-title {
        background-color: $color-primary;
        color: #fff;
        text-transform: uppercase;
        padding: 8px;
        font-size: 18px;
    }

    .popup-button {
        display: inline-block;
        padding: 9px 20px;
        color: #fff;
        font-size: 16px;
        background-color: $color-primary;
        clear: both;
        text-transform: uppercase;
        border: 0;

        &:hover {
            background-color: $color-primary;
        }
    }

    .control-label {
        font-size: 16px;
        color: #000;
        text-align: left;
        float: left;
        font-weight: normal;
        width: 100%;
    }

    label {
        &.error {
            font-size: 14px;
            color: #a94442;
            padding-top: 4px;
            width: 100%;
            font-weight: normal;
            text-align: left;
            margin-bottom: 0;
        }
    }


    textarea {
        height: auto !important;
    }

    .error {
        border-color: #a94442;
    }

    .boxRadioCheck, .boxCheckbox {
        padding: 5px 0;
        text-align: left;

        .radioPure {
            font-size: 16px;
        }
    }

    button.fancybox-close-small {
        width: 43px;
        height: 43px;
        color: #fff;
        opacity: 1;
        transition: 0.3s ease-in-out;
        outline: none;

        &:after {
            background: transparent;
            font-size: 24px;
            color: #fff;
            transform: none;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            line-height: 43px;
            text-align: center;
        }

        &:hover {
            border-color: $color-primary;
            background-color: $color-primary;
        }
    }
}


.fancybox-slide--complete {
    .popup-wrap {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-content-wrap {
    float: left;
    width: 100%;
    background-color: #fff;
}

.popup-register {
}

.popup-thanks {
    .fa {
        font-size: 72px;
        color: $color-primary;
        margin: 30px 0;
    }

    p {
        line-height: 1.4em;
        font-size: 18px;
    }
}

@include mq(max-sm) {
    .popup-wrap {
        margin: 105px auto 20px auto;

        button.mfp-close {
            top: -50px;
            right: 0;
        }

        .control-label {
            font-size: 14px;
        }

        .form-group {
            margin-bottom: 10px;
        }
    }
}

@include mq(max-xs) {
    .popup-wrap {
        max-width: calc(100% - 20px);

        .popup-button {
            width: 100%;
        }
        .popup-content {
            padding: 15px;
            max-height:none;
        }
        select {
            margin-bottom:15px;
        }
        label {
            &.error {
                font-size: 12px;
            }
        }
    }
}
