.list-news.list
  .item-news.item-wipe.item-ef
    .img
      a(href='news-detail.html', title='')
        img.img-responsive(src='img/products/img-news-1.jpg', alt='')
        span.roll.tie-news
    .detail
      h3
        a(href='news-detail.html', title='') Gạch Khang Minh ( GKM ): Thông báo giao dịch cổ phiếu của cổ đông nội bộ
      .post-date
        i.ion-clock
        span 12/3/2107
      .text-news
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat
      .option
        a.bt-readmore(href='#') Chi Tiết
  .item-news.item-ef
    .img
      a(href='news-detail.html', title='')
        img.img-responsive(src='img/products/img-news-2.jpg', alt='')
        span.roll.tie-news
    .detail
      h3
        a(href='news-detail.html', title='') Công bố thông tin phát hành cổ phiếu để trả cổ tức năm 2017
      .post-date
        i.ion-clock
        span 12/3/2107
      .text-news
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat
      .option
        a.bt-readmore(href='#') Chi Tiết
  .div-phantrang
    .dot-fillin
      ul
        li
          a(title='', href='#')
            span Trước
        li.current
          a(title='', href='#') 2
        li
          a(title='', href='#') 3
        li
          a(title='', href='#') 4
        li
          a(title='', href='#') 5
        li
          a(title='', href='#') 6
        li
          a(title='', href='#')
            span Tiếp
