label.control.control--radio
  | First radio
  input(type='radio', name='radio', checked='checked')
  .control__indicator
label.control.control--radio
  | Second radio
  input(type='radio', name='radio')
  .control__indicator
label.control.control--radio
  | Disabled
  input(type='radio', name='radio2', disabled='disabled')
  .control__indicator
label.control.control--radio
  | Disabled & checked
  input(type='radio', name='radio2', disabled='disabled', checked='checked')
  .control__indicator
