.carousel-history
    .carousel.carousel--banner.js-carousel-logo
      .carousel__item
        a(href="#" title)
          +image-lazy('img/background/banner-2.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/background/banner-2.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/background/banner-2.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/background/banner-2.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/background/banner-2.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/background/banner-2.jpg', 'carousel__image', 'contain')
