/*---Base---*/
@import "base/_typography.scss";

/*---Components---*/
@import "components/_button.scss";
@import "components/_checkbox_radio.scss";
@import "components/_cart-popup.scss";
@import "components/slider-carousel-customs";
@import "components/_navi-sticky.scss";
@import "components/loading.scss";
@import "components/_icon-toogle.scss";
@import "components/pagination";
@import "components/slider-thumb";
@import "components/_popup-wrap.scss";

/*---Layout---*/
@import "layouts/_layout.scss";
@import "layouts/_sidebar-mobie.scss";
@import "layouts/_header.scss";
@import "layouts/_sidebar.scss";
@import "layouts/_footer.scss";

/*---Modules---*/
// @import "modules/_cart.scss";
// @import "modules/_agency.scss";
// @import "modules/_contact.scss";
@import "modules/_news-list.scss";
// @import "modules/_news_detail.scss";
// @import "modules/_product-list.scss";
// @import "modules/_product-detail.scss";
// @import "modules/_media-detail.scss";
// @import "modules/_media-list.scss";

/*@import "modules/_module-gallery-picture.scss";*/
/*@import "modules/_module-rating.scss";*/

/*---Pages---*/
@import "pages/_home.scss";
// @import "pages/_about.scss";
// @import "pages/_news.scss";
// @import "pages/_service.scss";
// @import "pages/_product.scss";
// @import "pages/_contact.scss";
// @import "pages/_gallery.scss";
