<div id="overlay"></div>
<div id="header-sidebar">
    <div class="left-h-sidebar">
        <a href="#my-mobile-menu" class="sidebar-toggle js-mmenu">
            <span class="ion-navicon"></span>
        </a>
    </div>
    <div class="right-h-sidebar">
        <div class="logo-mobie">
            <a href="#" title="">
                <img src="img/logo/logo-mobie.png" alt="" class="img-responsive" a />
            </a>
        </div>
        <div class="cogLangguage">
            <a href="#" title=""><i class="ion-ios-gear-outline"></i></a>
            <div class="head-lang">
                <a href="#" title=""><img src="img/flags/lang-en.png"/><span>English</span></a>
                <a href="#" title=""><img src="img/flags/lang-vi.png"/><span>Vietnamese</span></a>
                <a href="#" title=""><img src="img/flags/lang-ja.png"/><span>Japannes</span></a>
                <a href="#" title=""><img src="img/flags/lang-kr.png"/><span>Korea</span></a>
            </div>
        </div>
        <div class="button-call-search"><span class="icon ion-ios-search-strong"></span></div>
        <div class="boxMobieSearch">
            <form class="frMobie-search">
                <input type="search" placeholder="Từ khóa tìm kiếm" class="ipt-search" id="iptSearchMobie">
                <button type="button" class="bt-search-mb">Tìm</button>
            </form>
        </div>
    </div>
</div>
