<div id="overlay"></div>
<div id="header-sidebar" class="hidden-md hidden-lg">
    <div class="left-h-sidebar">
        <a id="sidebar-toggle" href="#">
            <span id="sidebar-icon">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </span>
        </a>
    </div>
    <div class="right-h-sidebar">
        <div class="logo-mobie">
            <a href="#" title="">
                <img src="img/logo/logo-mobie.png" alt="" class="img-fluid"/>
            </a>
        </div>
        <div class="cogLangguage">
            <a href="#" title=""><i class="ion-ios-gear-outline"></i></a>
            <div class="head-lang">
                <a href="#" title=""><img src="img/flags/lang-en.png"/><span>English</span></a>
                <a href="#" title=""><img src="img/flags/lang-vi.png"/><span>Vietnamese</span></a>
                <a href="#" title=""><img src="img/flags/lang-ja.png"/><span>Japannes</span></a>
                <a href="#" title=""><img src="img/flags/lang-kr.png"/><span>Korea</span></a>
            </div>
        </div>
        <div class="button-call-search"><span class="icon ion-ios-search-strong"></span></div>
        <div class="boxMobieSearch">
            <form class="frMobie-search">
                <input type="search" placeholder="Từ khóa..." class="ipt-search" id="iptSearchMobie">
                <button type="button" class="bt-search-mb"><span class="icon ion-ios-search-strong"></span></button>
            </form>
        </div>
       
    </div>
</div>
