<header id="header-main">
    <div class="container">
        <div id="mainMenu">
            <ul>
                <li><a href="#" title="">Trang chủ</a></li>
                <li>
                    <a href="#" title="">Sản phẩm</a>
                    <ul>
                        <li><a href="#" title="">Thiết kế website</a></li>
                        <li><a href="#" title="">Thiết kế phần mềm</a></li>
                        <li><a href="#" title="">Dịch vụ Data</a></li>
                        <li><a href="#" title="">Thiết kế website</a></li>
                        <li><a href="#" title="">Thiết kế phần mềm</a></li>
                        <li><a href="#" title="">Dịch vụ Data</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title=""> Dịch vụ</a>
                    <ul>
                        <li><a href="#" title="">Thiết kế website</a></li>
                        <li><a href="#" title="">Thiết kế phần mềm</a></li>
                        <li><a href="#" title="">Dịch vụ Data</a></li>
                    </ul>
                </li>
                <li><a href="#" title="">Tin tức</a></li>
                <li><a href="#" title="">Đối tác</a></li>
                <li><a href="#" title="">Liên hệ</a></li>
            </ul>
        </div>
        <div class="account-link">
            <form class="search-mini">
                <input type="text" class="ipt">
                <button type="button" class="bt"><span class="ion-ios-search-strong"></span></button>
            </form>
            <ul>
                <li><a href="#login-res-pop" class="call-inline-pop" data-effect="mfp-zoom-in" title="">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- /header -->
