<head>
    <title>@@namePage</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    @@include('./Meta.html')
    <!--Open CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/plugins.min.css" rel="stylesheet"/>
    <link href="css/styles.min.css" rel="stylesheet"/>
    <!-- Check browser not display in ie 9 -->
    <!--[if lt IE 9]>
        <meta http-equiv="refresh" content="0; url=detect.html"/>
        <script type="text/javascript">
            var regExp = / <![CDATA[ /;
            window.top.location = 'detect.html';
            var regExp = / ]]> /;
        </script>
    <![endif]-->
    <!-- Check browser not display in ie 9 -->
    <!--End CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/modernizr-cus.js"></script>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--Open JavaScript Top -->
    <script src="js/vendors.min.js"></script>
    <!--<script src="js/loading.min.js"></script>-->
    <!--End JavaScript Top -->
    <!--[if (gte IE 6)&(lte IE 8)]>
        <script type="text/javascript" src="js/selectivizr-min.js"></script>
        <noscript><link rel="stylesheet" href="css/styles.css"/></noscript>
    <![endif]-->
</head>
